.forgotPasswordCard {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 400px;
  text-align: center;
}

.title {
  margin-bottom: 16px;
  font-size: 42px;
  font-weight: bold;
}

.description {
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
  text-align: left;
  font-weight: medium;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submitButton {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}

.cancelLink {
  margin-top: 16px;
  display: inline-block;
  color: var(--primaryColor);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.cancelLink:hover {
  text-decoration: underline;
}
