.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.passwordReset {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.imageWrapper {
  background: linear-gradient(
      rgba(0, 0, 0, 0.4000000059604645),
      rgba(0, 0, 0, 0.4000000059604645)
    ),
    url("/plasmic/jam_production_🚀/images/imageWrapper.jpg") center center / cover no-repeat;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  width: 50%;
  padding: 433px 229px;
}
.imageWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.imageWrapper > :global(.__wab_flex-container) > *,
.imageWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.imageWrapper > :global(.__wab_flex-container) > picture > img,
.imageWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .imageWrapper {
    display: none;
  }
}
.logoWrapper {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: visible;
  flex-direction: column;
  z-index: 100;
}
.logoWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.logoWrapper > :global(.__wab_flex-container) > *,
.logoWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logoWrapper > :global(.__wab_flex-container) > picture > img,
.logoWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #bafe68;
  width: 95px;
  height: 115px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.baseline {
  width: 298px;
  height: 48px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}
.frame {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  padding-left: 5.580071449279785px;
  padding-right: 5.580071449279785px;
}
.frame > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 3.487544298171997px);
  width: calc(100% + 3.487544298171997px);
}
.frame > :global(.__wab_flex-container) > *,
.frame > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame > :global(.__wab_flex-container) > picture > img,
.frame > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 3.487544298171997px;
}
.text__t32U {
  display: block;
  font-size: 33.480430603027344px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  padding-left: 5.580071449279785px;
  padding-right: 5.580071449279785px;
  border-radius: 69.75088500976562px;
}
.frame2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 3.487544298171997px);
  width: calc(100% + 3.487544298171997px);
}
.frame2 > :global(.__wab_flex-container) > *,
.frame2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2 > :global(.__wab_flex-container) > picture > img,
.frame2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3.487544298171997px;
}
.text___2Ju1W {
  display: block;
  font-size: 33.480430603027344px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  padding-left: 5.580071449279785px;
  padding-right: 5.580071449279785px;
}
.frame3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 3.487544298171997px);
  width: calc(100% + 3.487544298171997px);
}
.frame3 > :global(.__wab_flex-container) > *,
.frame3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3 > :global(.__wab_flex-container) > picture > img,
.frame3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3.487544298171997px;
}
.text__wHIqF {
  display: block;
  font-size: 33.480430603027344px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.formWrapper {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
  width: 50%;
  border-radius: 24px;
  padding: 64px;
}
.formWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.formWrapper > :global(.__wab_flex-container) > *,
.formWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.formWrapper > :global(.__wab_flex-container) > picture > img,
.formWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .formWrapper {
    width: 100%;
    padding: 8px;
  }
}
.title {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  display: none;
}
.heading {
  display: block;
  flex-grow: 1;
  font-size: 48px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.2000000476837158;
  color: rgba(5, 5, 5, 1);
  position: relative;
}
.form2:global(.__wab_instance) {
  flex-direction: column;
  position: relative;
  width: 40vw;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  object-fit: cover;
  min-width: 100%;
  display: none;
  padding: 8px;
}
.formField__xwr3E:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 6px;
  min-width: 0;
}
.inputWrapper {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  z-index: 200;
}
.inputWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.inputWrapper > :global(.__wab_flex-container) > *,
.inputWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inputWrapper > :global(.__wab_flex-container) > picture > img,
.inputWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.textInput7:global(.__wab_instance) {
  height: 100%;
  position: relative;
  align-self: stretch;
  min-height: 0;
  border-radius: 16px;
  border-width: 1px;
}
.progressBar {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 0;
}
.progressBar > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.progressBar > :global(.__wab_flex-container) > *,
.progressBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.progressBar > :global(.__wab_flex-container) > picture > img,
.progressBar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.signedByBaseProgressBarSteppedMediumLabelNone {
  width: 1px;
  height: 1px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.progress {
  background: rgba(39, 110, 241, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
}
.inProgress {
  background: rgba(205, 222, 255, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
}
.base {
  background: rgba(186, 254, 104, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.base2 {
  background: rgba(200, 200, 200, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.base3 {
  background: rgba(200, 200, 200, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.base4 {
  background: rgba(200, 200, 200, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
  width: 100%;
  min-width: 0;
  border-radius: 4px;
}
.base5 {
  background: rgba(226, 226, 226, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
  border-radius: 4px;
}
.base6 {
  background: rgba(226, 226, 226, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
  border-radius: 4px;
}
.text {
  display: block;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(5, 5, 5, 1);
  width: 100%;
  padding-bottom: 25px;
  min-width: 0;
}
.formField__o0Nd:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.inputWrapper2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  z-index: 200;
}
.inputWrapper2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.inputWrapper2 > :global(.__wab_flex-container) > *,
.inputWrapper2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inputWrapper2 > :global(.__wab_flex-container) > picture > img,
.inputWrapper2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.textInput6:global(.__wab_instance) {
  height: 100%;
  position: relative;
  align-self: stretch;
  min-height: 0;
  border-radius: 16px;
  border-width: 1px;
}
.text5 {
  display: block;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 36, 0, 1);
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.formField__pbCs:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  color: #4c4c4c;
  font-weight: 700;
  min-width: 0;
  border-radius: 16px;
}
.jamButton:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  background: #bafe68;
  color: #535353;
  min-width: 0;
  border-radius: 16px;
}
.text__rxNho {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: auto;
  cursor: pointer;
}
.resetPassword:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
