.root:global(.__wab_instance) {
  position: relative;
  color: var(--token-ceD1eQOG2geq);
  font-family: var(--token-iPHCqhfXwTyN);
  font-size: var(--token-aRuWp9ICGc-Q);
  line-height: var(--token-QTSTTNIaGHpG);
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: var(--token-BY_Q0dspL3Z5);
}
.slotTargetChildrensize_sm {
  font-size: var(--token-kJyGp0Dc5L5n);
  line-height: var(--token-SUsZgSMpfzVV);
}
.slotTargetChildrensize_lg {
  font-size: var(--token-JJChWPPhfZHS);
  line-height: var(--token-ZTnFSm4TIlCF);
}
.text {
  position: relative;
  display: none;
}
.textrequirementIndicator_optional {
  color: var(--token-vE7ENHhK130K);
  display: block;
}
.textrequirementIndicator_required {
  color: var(--token-IQAnn5MeydGo);
  display: block;
}
