.mobileNavbarBottom {
  background: rgba(19, 16, 19, 1);
  filter: none;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
}
.mobileNavbarBottom > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileNavbarBottom {
    width: auto;
    justify-self: flex-start;
    height: auto;
    display: flex;
    padding: 0px 10px 15px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileNavbarBottom > :global(.__wab_flex-container) {
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    align-content: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileNavbarBottom > :global(.__wab_flex-container) > *,
  .mobileNavbarBottom
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .mobileNavbarBottom > :global(.__wab_flex-container) > picture > img,
  .mobileNavbarBottom
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.button2___7AIa6:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__tpp8O {
  position: relative;
  width: 17px;
  height: 17px;
}
.text__bM41C {
  white-space: pre;
  padding-top: 0px;
  font-size: 12px;
}
.svg__d5HxS {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.button2__x9K6G:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__hVirV {
  position: relative;
  width: 17px;
  height: 17px;
}
.text__nlrF {
  white-space: pre;
  padding-top: 0px;
  font-size: 12px;
}
.svg__s9Cbn {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.button2__r4Jaa:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2__r4Jaa:global(.__wab_instance):global(.__wab_instance) {
    display: none;
  }
}
.svg__koohQ {
  position: relative;
  width: 17px;
  height: 17px;
}
.text__arSzL {
  white-space: pre;
  padding-top: 0px;
  font-size: 12px;
}
.svg__hBymd {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.button2__mclN4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__iBjIi {
  position: relative;
  width: 17px;
  height: 17px;
}
.text__z9As9 {
  white-space: pre;
  padding-top: 0px;
  font-size: 12px;
}
.svg__i20Kv {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.frame1437253914 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding: 0px;
}
.frame1437253914 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame1437253914 > :global(.__wab_flex-container) > *,
.frame1437253914 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1437253914 > :global(.__wab_flex-container) > picture > img,
.frame1437253914
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437253914 {
    display: none;
  }
}
.frame23 {
  background: rgba(186, 254, 104, 1);
  width: 50px;
  height: 3px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 2.884615421295166px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame23 {
    display: none;
  }
}
.svg___6Qtxe {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___6Qtxe {
    display: block;
  }
}
.text__rAvun {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(251, 251, 251, 1);
  position: relative;
}
.frame1437253915 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding: 0px;
}
.frame1437253915 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame1437253915 > :global(.__wab_flex-container) > *,
.frame1437253915 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1437253915 > :global(.__wab_flex-container) > picture > img,
.frame1437253915
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437253915 {
    display: none;
  }
}
.frame24 {
  background: rgba(186, 254, 104, 1);
  width: 50px;
  height: 3px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 2.884615421295166px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame24 {
    display: none;
  }
}
.svg__gflBo {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__gflBo {
    display: block;
  }
}
.text__bgLz {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(251, 251, 251, 1);
  position: relative;
}
.frame1437253916 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding: 0px;
}
.frame1437253916 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame1437253916 > :global(.__wab_flex-container) > *,
.frame1437253916 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1437253916 > :global(.__wab_flex-container) > picture > img,
.frame1437253916
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437253916 {
    display: none;
  }
}
.frame25 {
  background: rgba(186, 254, 104, 1);
  width: 50px;
  height: 3px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 2.884615421295166px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame25 {
    display: none;
  }
}
.svg___9OlBs {
  object-fit: cover;
  max-width: 100%;
  color: #fbfbfb;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___9OlBs {
    display: block;
  }
}
.text__lyHqa {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(251, 251, 251, 1);
  position: relative;
}
