.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-BY_Q0dspL3Z5);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__dkXfP {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-BY_Q0dspL3Z5);
}
.radio__y9Qe0:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__svQwh:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__vz7Ib:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
