.lastMinuteToggle {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  cursor: pointer;
  background: none;
  position: relative;
  column-gap: var(--token-cfon0PHiXQoL);
  padding: 0px;
}
@media (max-width: 375px) {
  .lastMinuteToggle {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.tooltip:global(.__wab_instance):global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
}
@media (max-width: 375px) {
  .freeBox {
    column-gap: 3px;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0px;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 17px;
  height: 17px;
  display: block;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.svg___6G6Sw {
  object-fit: cover;
  max-width: 100%;
  color: #c8c8c8;
  width: 17px;
  height: 17px;
  display: block;
  flex-shrink: 0;
}
.svg__lhe24 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: #535353;
  flex-shrink: 0;
}
.text__qjpnd {
  position: relative;
  color: var(--token-X0hEa-utMcvr);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  width: auto;
  user-select: none;
  white-space: pre;
}
@media (max-width: 375px) {
  .text__qjpnd {
    font-size: 10px;
  }
}
.switch2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 375px) {
  .text___47Mzn {
    font-size: 14px;
  }
}
.textAndSupportingText {
  width: 296px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 4px;
}
.text {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.supportingText {
  display: block;
  font-size: 12px;
  letter-spacing: 0em;
  line-height: 18px;
  align-self: stretch;
  position: relative;
  padding-bottom: 0px;
  font-family: "DM Sans", sans-serif;
}
.text__ryVx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 10px;
  min-width: 0;
}
.textAndSupportingText2 {
  width: 296px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 4px;
}
.text2 {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.supportingText2 {
  display: block;
  font-size: 12px;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
