.mesAlertes {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mesAlertes {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
.sidebar:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebar:global(.__wab_instance) {
    display: none;
  }
}
.mobileNavbarTop:global(.__wab_instance) {
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  align-self: stretch;
  max-width: 100%;
  right: 0;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileNavbarTop:global(.__wab_instance) {
    display: flex;
  }
}
.main {
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: column;
  flex-shrink: 1;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 64px;
}
.main > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.main > :global(.__wab_flex-container) > *,
.main > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.main > :global(.__wab_flex-container) > picture > img,
.main > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    width: 100%;
    height: 100%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    padding: 94px 20px 78px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .main > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .main > :global(.__wab_flex-container) > *,
  .main > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .main > :global(.__wab_flex-container) > picture > img,
  .main
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__kohVn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kohVn {
    top: auto;
    left: auto;
    justify-content: space-between;
    align-items: center;
  }
}
.h1 {
  display: block;
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.399999976158142;
  color: rgba(0, 0, 0, 1);
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    padding-top: 0px;
  }
}
.button__a9Gtr:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__c7Ytd {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__n8SHv {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
  padding-right: 0px;
}
.svg__kh3Ee {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.alerts {
  background: none;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
}
.alerts > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.alerts > :global(.__wab_flex-container) > *,
.alerts > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.alerts > :global(.__wab_flex-container) > picture > img,
.alerts
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .alerts {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: calc(0px + 0px) !important;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: calc(0px + 32px) !important;
    backface-visibility: hidden;
    transform: none;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .alerts > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .alerts > :global(.__wab_flex-container) > *,
  .alerts > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .alerts > :global(.__wab_flex-container) > picture > img,
  .alerts
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.loading {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.noAnnonce {
  transform: scale(1.0000001192092896, 1.0000001192092896);
  height: 100%;
  display: flex;
  transform-origin: top left;
  position: relative;
  align-self: stretch;
  left: auto;
  top: auto;
  background: var(--token-uqUcyTUgvV0c);
  flex-direction: column;
  min-height: 0;
  border-radius: 16px;
  padding: 64px;
}
.noAnnonce > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.noAnnonce > :global(.__wab_flex-container) > *,
.noAnnonce > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.noAnnonce > :global(.__wab_flex-container) > picture > img,
.noAnnonce
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .noAnnonce {
    left: auto;
    top: auto;
    position: relative;
    width: 100%;
    min-width: 0;
    display: flex;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .noAnnonce > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    min-width: 0;
  }
}
.featuredIcon2 {
  background: rgba(232, 255, 204, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(248, 248, 248, 1);
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 20px;
}
.svg__aq2Ug {
  object-fit: cover;
  color: #343330;
  height: 1em;
  display: block;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__aq2Ug {
    position: relative;
  }
}
.textAndSupportingText2 {
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: auto;
}
.textAndSupportingText2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.textAndSupportingText2 > :global(.__wab_flex-container) > *,
.textAndSupportingText2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.textAndSupportingText2 > :global(.__wab_flex-container) > picture > img,
.textAndSupportingText2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text6 {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(18, 17, 22, 1);
  align-self: auto;
  position: relative;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: auto;
}
.supportingText2 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
  position: relative;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__seaXf:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__pgVnj {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text___29COm {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__crfqi {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.freeBox__mclch {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  filter: drop-shadow(0px 10px 10px #dcdcdc);
  align-self: stretch;
  min-width: 0;
  border-radius: 24px;
  padding: 48px 64px;
}
.freeBox__mclch > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__mclch > :global(.__wab_flex-container) > *,
.freeBox__mclch > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mclch > :global(.__wab_flex-container) > picture > img,
.freeBox__mclch
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mclch {
    padding: 25px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mclch > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: flex-end;
  }
}
.freeBox__jhZr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__jhZr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__jhZr > :global(.__wab_flex-container) > *,
.freeBox__jhZr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jhZr > :global(.__wab_flex-container) > picture > img,
.freeBox__jhZr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__aqUr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__aqUr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__aqUr > :global(.__wab_flex-container) > *,
.freeBox__aqUr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aqUr > :global(.__wab_flex-container) > picture > img,
.freeBox__aqUr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___0SL6W {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.jobTitle {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  line-height: 140%;
  letter-spacing: 0%;
  color: var(--token-qVvTulujfE86);
}
.ville {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.ville > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.ville > :global(.__wab_flex-container) > *,
.ville > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ville > :global(.__wab_flex-container) > picture > img,
.ville > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
}
.svg__avZck {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 9px;
  height: 11px;
  display: block;
  flex-shrink: 0;
}
.p__t7QTp {
  width: auto;
  height: auto;
  max-width: 100%;
}
.tags {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.tags > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.tags > :global(.__wab_flex-container) > *,
.tags > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tags > :global(.__wab_flex-container) > picture > img,
.tags > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
  margin-top: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tags {
    width: auto;
  }
}
.freeBox__qVgy {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Ct2qLf9b3GVG);
  border-radius: 16px;
  padding: 4px 12px;
}
.freeBox__qVgy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__qVgy > :global(.__wab_flex-container) > *,
.freeBox__qVgy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qVgy > :global(.__wab_flex-container) > picture > img,
.freeBox__qVgy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.img__r7NoV {
  object-fit: cover;
  max-width: 100%;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
.img__r7NoV > picture > img {
  object-fit: cover;
}
.p__yUB7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__rTtQc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Ct2qLf9b3GVG);
  border-radius: 16px;
  padding: 4px 12px;
}
.freeBox__rTtQc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__rTtQc > :global(.__wab_flex-container) > *,
.freeBox__rTtQc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rTtQc > :global(.__wab_flex-container) > picture > img,
.freeBox__rTtQc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__hrmaM {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 14px;
  height: 14px;
  display: block;
  flex-shrink: 0;
}
.p__oMvra {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ta0VM {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Ct2qLf9b3GVG);
  border-radius: 16px;
  padding: 4px 12px;
}
.freeBox__ta0VM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__ta0VM > :global(.__wab_flex-container) > *,
.freeBox__ta0VM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ta0VM > :global(.__wab_flex-container) > picture > img,
.freeBox__ta0VM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__j4AcK {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 14px;
  height: 14px;
  display: block;
  flex-shrink: 0;
}
.p__wdb69 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button___8NnKb:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__kD1Um {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__v05Ta {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__fhRz0 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.deleteEdit {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.deleteEdit > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 9.999999046325684px);
  width: calc(100% + 9.999999046325684px);
}
.deleteEdit > :global(.__wab_flex-container) > *,
.deleteEdit > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.deleteEdit > :global(.__wab_flex-container) > picture > img,
.deleteEdit
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 9.999999046325684px;
}
.svg__iVl8M {
  object-fit: cover;
  max-width: 100%;
  color: #d92d20;
  transform: scale(1.0000001192092896, 1.0000001192092896);
  width: 20px;
  height: 20px;
  display: block;
  transform-origin: top left;
  position: relative;
  left: auto;
  top: auto;
  cursor: pointer;
  flex-shrink: 0;
}
.svg___1Nx5J {
  object-fit: cover;
  max-width: 100%;
  color: #666;
  transform: none;
  width: 19.9999942779541px;
  height: 19.9999942779541px;
  display: block;
  transform-origin: top left;
  position: relative;
  left: auto;
  top: auto;
  cursor: pointer;
  flex-shrink: 0;
}
.mobileNavbarBottom:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileNavbarBottom:global(.__wab_instance) {
    display: flex;
  }
}
.createEditAlert:global(.__wab_instance):global(.__wab_instance) {
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  align-self: auto;
  width: 100%;
  bottom: auto;
  right: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .createEditAlert:global(.__wab_instance):global(.__wab_instance) {
    left: auto;
    top: auto;
    display: none;
  }
}
.button:global(.__wab_instance) {
  display: none;
}
.h3__g8Ju1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-JJChWPPhfZHS);
  min-width: 0;
  display: none;
  padding: var(--token-BL89_XMR-RdQ);
}
.img__eB7An {
  object-fit: cover;
  max-width: 100%;
  width: 17px;
  height: 17px;
  display: block;
  position: relative;
  overflow: hidden;
  align-self: flex-end;
  cursor: pointer;
  margin: 20px 20px 0px 0px;
}
.img__eB7An > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__eB7An {
    display: block;
  }
}
.alerteModal {
  background: rgba(255, 255, 255, 1);
  filter: none;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: auto;
  flex-direction: column;
  min-width: 0;
  padding: 20px 20px 64px;
}
.alerteModal > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.alerteModal > :global(.__wab_flex-container) > *,
.alerteModal > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.alerteModal > :global(.__wab_flex-container) > picture > img,
.alerteModal
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.modalTitle {
  display: block;
  font-size: 40px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.2000000476837158;
  color: rgba(5, 5, 5, 1);
  position: relative;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  object-fit: cover;
  min-width: 0;
  row-gap: 16px;
}
.formField__fgi0Z:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.textInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  margin: 0px;
}
.formField__p9DDn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.textInput2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.formField__a1X2X:global(.__wab_instance) {
  width: 100%;
  display: block;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 48px;
  border-radius: 16px;
  border: 1px solid var(--token-d-0gEGbakN0M);
}
.freeBox__lbmq {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__lbmq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__lbmq > :global(.__wab_flex-container) > *,
.freeBox__lbmq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lbmq > :global(.__wab_flex-container) > picture > img,
.freeBox__lbmq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___5AhZb {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 16px;
  height: 17px;
  display: block;
  flex-shrink: 0;
}
.formField__luBtz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.select4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 48px;
  border-radius: 16px;
  border: 1px solid var(--token-d-0gEGbakN0M);
}
.freeBox__m20Pl {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__m20Pl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__m20Pl > :global(.__wab_flex-container) > *,
.freeBox__m20Pl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m20Pl > :global(.__wab_flex-container) > picture > img,
.freeBox__m20Pl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__sqGqk {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 16px;
  height: 17px;
  display: block;
  flex-shrink: 0;
}
.formField__sHjY:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.select2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 48px;
  border-radius: 16px;
  border: 1px solid var(--token-d-0gEGbakN0M);
}
.freeBox___0ZRE {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___0ZRE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___0ZRE > :global(.__wab_flex-container) > *,
.freeBox___0ZRE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0ZRE > :global(.__wab_flex-container) > picture > img,
.freeBox___0ZRE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__eFsXw {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 16px;
  height: 17px;
  display: block;
  flex-shrink: 0;
}
.button__ifGQx:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__hgaGf {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__fpDjg {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__mviUc {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.formField__ecb3C:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  margin: 0px;
}
.text___7Qidm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textInput3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.formField___0B:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  margin: 0px;
}
.text__vsQFv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textInput4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.deleteAlert:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.h3___11Jsa {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-JJChWPPhfZHS);
  min-width: 0;
  display: none;
  padding: var(--token-BL89_XMR-RdQ);
}
.modal3 {
  background: rgba(255, 255, 255, 1);
  filter: none;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-width: 0;
  border-radius: 12px;
  padding: 24px 0px;
}
.modal3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.modal3 > :global(.__wab_flex-container) > *,
.modal3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.modal3 > :global(.__wab_flex-container) > picture > img,
.modal3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.content {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.featuredIcon {
  background: rgba(254, 228, 226, 1);
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 24px;
}
.svg__wYxNy {
  object-fit: cover;
  max-width: 100%;
  color: #d92d20;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.textAndSupportingText {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.textAndSupportingText > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.textAndSupportingText > :global(.__wab_flex-container) > *,
.textAndSupportingText
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.textAndSupportingText > :global(.__wab_flex-container) > picture > img,
.textAndSupportingText
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(26, 26, 26, 1);
  align-self: stretch;
  position: relative;
}
.supportingText {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
  align-self: stretch;
  position: relative;
}
.frame1437254298 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.frame1437254298 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame1437254298 > :global(.__wab_flex-container) > *,
.frame1437254298 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1437254298 > :global(.__wab_flex-container) > picture > img,
.frame1437254298
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button4:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  flex-grow: 1;
  width: 50%;
}
.svg__nxPXi {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__a3CiL {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.svg__oF2S {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  margin-right: 0px;
  height: 1em;
}
.deleteAccount:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 50%;
}
.svg__s3Oqk {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__dWvV {
  white-space: pre;
  color: var(--token-uqUcyTUgvV0c);
  font-weight: 700;
}
.svg__varth {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.freeBox__lEbau {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
