.root {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.sidebar:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 20%;
}
.actionCreditSuccess:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.actionCreditSuccessDepreciated:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.main {
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 80%;
  height: 100%;
  background: #f4f4f4;
  row-gap: 32px;
  min-height: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    width: 100%;
    height: 100%;
    align-items: stretch;
    justify-content: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    column-gap: 0px;
    min-width: 0;
    min-height: 0;
    padding: 44px 20px 78px;
  }
}
.heading {
  display: block;
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.399999976158142;
  color: rgba(0, 0, 0, 1);
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading {
    left: auto;
    top: auto;
    padding-top: 20px;
  }
}
.modalCreditsAlerts:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.closeButton {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  height: 41px;
  max-width: 100%;
  top: auto;
  left: auto;
  right: auto;
  z-index: 1;
  width: 100%;
  min-width: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 17px;
  position: absolute;
  left: auto;
  top: 24px;
  z-index: 1;
  right: 41px;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__osJ4U {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 410px;
  row-gap: 20px;
}
.iconSuccess {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  max-width: 100%;
  background: var(--token-h-vPMmeIfLZ2);
  flex-shrink: 0;
  border-radius: 100px;
}
.svg__emkBr {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-4qwL51kfNQ3e);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.messageText {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
}
.text___2T0Rb {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.text__nNsVw {
  position: relative;
  font-family: "DM Sans", sans-serif;
}
.text__xe3L1 {
  position: relative;
  font-family: "DM Sans", sans-serif;
}
.actionButton {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-end;
  width: 410px;
  max-width: none;
  flex-grow: 0;
  flex-wrap: nowrap;
  align-content: stretch;
  flex-shrink: 1;
}
.button__v1Wkn:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  flex-grow: 0;
  min-width: 0;
}
.svg__nMe0E {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__k25C {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__w22K7 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.card2 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(244, 255, 230, 1);
  transform: scale(0.9999999403953552, 0.9999999403953552);
  height: 100%;
  display: flex;
  transform-origin: top left;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  row-gap: 40px;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    backface-visibility: hidden;
    transform: none;
    width: 100%;
    row-gap: 32px;
    column-gap: 0px;
    min-width: 0;
    padding: 32px;
    margin: 0px;
  }
}
.successPayement {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-aTHxjKoUeWnv);
  min-width: 0;
  border-radius: 24px;
  padding: 24px;
}
.text__bJflm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ceD1eQOG2geq);
  min-width: 0;
}
.freeBox__khod {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-KrBMMqlPClZi);
  min-width: 0;
  border-radius: 24px;
  padding: 24px;
}
.text__kinfj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Bjjq_24AWhes);
  min-width: 0;
}
.blockSubscription {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 40px;
  min-width: 0;
}
.text__l0Gem {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  white-space: pre-wrap;
  color: var(--token-qVvTulujfE86);
  min-width: 0;
}
.subscription {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 19px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .subscription {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
    column-gap: 0px;
    padding: 0px;
  }
}
.items {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 19px;
}
.productCard:global(.__wab_instance) {
  max-width: 100%;
  width: 320px;
  flex-shrink: 0;
}
.actions {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 40px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .actions {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 0px;
  }
}
.cancelBtnContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.cancelSubscription:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__x62Ba:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__fotTk {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__uzXwq {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__swFgN {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.freeBox__vFnVh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  max-width: 100%;
  background: var(--token-8I-Q2_NV2DFB);
  border-radius: 100px;
  padding: 8px;
}
.svg__x0Yo {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-ZGucCHHogAKz);
  flex-shrink: 0;
}
.button__duDbm:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__nbleZ {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__uWnhc {
  white-space: pre;
  color: var(--token-uqUcyTUgvV0c);
}
.svg__j89MX {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.button__smCmG:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__py3EJ {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__cyeKa {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__wWSi {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.changeSubscriptionContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.changeSubscription:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__b144E:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__b144E:global(.__wab_instance):global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__ifxN9 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__hhTTt {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__iZqHa {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.freeBox__cpIb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  max-width: 100%;
  background: var(--token-h-vPMmeIfLZ2);
  border-radius: 100px;
  padding: 8px;
}
.svg__xeq2I {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-4qwL51kfNQ3e);
  flex-shrink: 0;
}
.button__qlaY:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___8Im38 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text___4BLO {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__r5Cwi {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.button__mAqol:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__l90CA {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__jqNyE {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__a8Atl {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.subscriptionBtnContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.buttonSubscription:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
  display: none;
}
.svg__jhHXu {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text___2Lzf9 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-nuB3vbLUeNHj);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__yWaz {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.stripeCheckoutButton__j6KL:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.buttonSubscription3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
}
.svg__rXeEj {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__msMms {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: var(--token-nuB3vbLUeNHj);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.svg__uADdi {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.subscriptionDetailsHistory {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: var(--token-Ct2qLf9b3GVG);
  row-gap: 54px;
  min-width: 0;
  border-radius: 12px;
  padding: 64px;
  border: 1px solid #00000033;
}
@media (min-width: 0px) and (max-width: 768px) {
  .subscriptionDetailsHistory {
    padding: 32px;
  }
}
.details {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
}
.text__vXo7X {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: var(--token-qVvTulujfE86);
  min-width: 0;
}
.hr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 860px;
  height: 1px;
  max-width: 100%;
  background: var(--token-d-0gEGbakN0M);
  flex-shrink: 0;
}
.freeBox__w61Pj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
}
.text__fhTZi {
  width: auto;
  height: auto;
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: "DM Sans", sans-serif;
  line-height: 18px;
  color: var(--token-X0hEa-utMcvr);
}
.text__iKzha {
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-uqUcyTUgvV0c);
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: var(--token-aTF8aD7JPbTj);
  border-radius: 17.57px;
  padding: 2.2px 8.79px;
}
.hr3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 860px;
  height: 1px;
  max-width: 100%;
  background: var(--token-d-0gEGbakN0M);
  flex-shrink: 0;
}
.freeBox__u7Q4A {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__liHWj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
}
.text__t9ZHf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  color: var(--token-X0hEa-utMcvr);
  line-height: 18px;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  min-width: 0;
}
.rechargeList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
}
.rechargesNameTotal {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
.text__c3MD {
  width: auto;
  height: auto;
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: "DM Sans", sans-serif;
  line-height: 18px;
  color: var(--token-X0hEa-utMcvr);
}
.text__tHbWm {
  width: auto;
  height: auto;
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: "DM Sans", sans-serif;
  line-height: 18px;
  color: var(--token-nuB3vbLUeNHj);
}
.hr4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 860px;
  height: 1px;
  max-width: 100%;
  background: #c8c8c84d;
  flex-shrink: 0;
}
.rechargesNameTotal2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
.text__kZzxu {
  width: auto;
  height: auto;
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: "DM Sans", sans-serif;
  line-height: 18px;
  color: var(--token-X0hEa-utMcvr);
}
.text__a2T9A {
  width: auto;
  height: auto;
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: "DM Sans", sans-serif;
  line-height: 18px;
  color: var(--token-nuB3vbLUeNHj);
}
.hr5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 860px;
  height: 1px;
  max-width: 100%;
  background: #c8c8c84d;
  flex-shrink: 0;
}
.rechargesNameTotal3 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
.text__wnuVz {
  width: auto;
  height: auto;
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: "DM Sans", sans-serif;
  line-height: 18px;
  color: var(--token-X0hEa-utMcvr);
  padding-left: 0px;
}
.text__uuorR {
  width: auto;
  height: auto;
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: "DM Sans", sans-serif;
  line-height: 18px;
  color: var(--token-d-0gEGbakN0M);
}
.text__plqKa {
  width: auto;
  height: auto;
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: "DM Sans", sans-serif;
  line-height: 18px;
  color: var(--token-nuB3vbLUeNHj);
}
.history {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
}
.text___9Dq77 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: var(--token-qVvTulujfE86);
  min-width: 0;
}
.tableButton {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-72bj1zO7saMs);
  min-width: 0;
  border-radius: 12px;
}
.table {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 44px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-J_kHJIXAsK0j);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__lLZhm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__knkPr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  color: var(--token-X0hEa-utMcvr);
  font-weight: 500;
  min-width: 0;
  padding: 12px 24px;
}
.dateIcon {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 125px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  flex-shrink: 0;
  padding: 12px 24px;
}
.text__gmzRe {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-X0hEa-utMcvr);
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.svg__itEtA {
  object-fit: cover;
  max-width: 100%;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
}
.amountIcon {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 125px;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  flex-shrink: 0;
  padding: 12px 24px;
}
.text__a85R5 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  color: var(--token-X0hEa-utMcvr);
  font-weight: 500;
}
.svg__tIw1 {
  object-fit: cover;
  max-width: 100%;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
}
.freeBox__v3Lqx {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 125px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
}
.text___3Dgj1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-X0hEa-utMcvr);
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  min-width: 0;
  padding: 12px 24px;
}
.list {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.item {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-bottom: 1px solid var(--token-J_kHJIXAsK0j);
}
.freeBox__pCj0D {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__xBkhK {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 12px 24px;
}
.freeBox__vnVeY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 125px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
}
.text__k7T8 {
  width: 125px;
  height: auto;
  max-width: 100%;
  text-align: left;
  flex-shrink: 0;
  padding: 12px 24px;
}
.freeBox__dG54N {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 125px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
}
.text__eKugu {
  width: 125px;
  height: auto;
  max-width: 100%;
  text-align: left;
  flex-shrink: 0;
  padding: 12px 24px;
}
.freeBox___0ZLaL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 125px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 12px 24px;
}
.svg__nBIcf {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
.freeBox__nEaWx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  min-width: 0;
  padding: 8px;
}
.button__tmvU4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.svg__xTkol {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text___9Fmtk {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__nDeaP {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  margin-right: 0px;
  height: 1em;
}
.recharges {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: var(--token-uqUcyTUgvV0c);
  row-gap: 16px;
  min-width: 0;
  border-radius: 12px;
  padding: 64px;
  border: 1px solid #00000033;
}
@media (min-width: 0px) and (max-width: 768px) {
  .recharges {
    padding: 32px;
  }
}
.text__pOlN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: var(--token-qVvTulujfE86);
  min-width: 0;
}
.rechargesList {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.classic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.freeBox__gRUi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
}
.svg__yy2Vw {
  object-fit: cover;
  max-width: 100%;
  width: 13px;
  height: 13px;
  flex-shrink: 0;
}
.text___3ST0D {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-nuB3vbLUeNHj);
  line-height: 20px;
  font-family: "DM Sans", sans-serif;
}
.freeBox__avve6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 12px;
}
.text__gtieN {
  width: 34px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
}
.inputComboSelect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__kSriH {
  width: 55px;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  flex-shrink: 0;
}
.lastminust {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.freeBox__v9RUt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
}
.svg__fuf5 {
  object-fit: cover;
  max-width: 100%;
  width: 13px;
  height: 13px;
  color: #f6165b;
  flex-shrink: 0;
}
.text__r6N5G {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-nuB3vbLUeNHj);
  line-height: 20px;
  font-family: "DM Sans", sans-serif;
  padding-bottom: 0px;
}
.freeBox___2ZFz5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 12px;
}
.text__x1ImO {
  width: 34px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
}
.inputComboSelect2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__zPuUm {
  width: 55px;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  flex-shrink: 0;
}
.boost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
}
.freeBox__niJhV {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
}
.svg__mgKfv {
  object-fit: cover;
  max-width: 100%;
  width: 13px;
  height: 13px;
  color: var(--token-ctGtle1XR2Yc);
  flex-shrink: 0;
}
.text___1ACHi {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-nuB3vbLUeNHj);
  line-height: 20px;
  font-family: "DM Sans", sans-serif;
}
.freeBox__ie1Iu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 12px;
}
.text__bMlQh {
  width: 34px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
}
.inputComboSelect3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__tNj8Z {
  width: 55px;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  flex-shrink: 0;
}
.freeBox__vHjNk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
}
.text__cGxIr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: var(--token-qVvTulujfE86);
  min-width: 0;
}
.textInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.totalAmount {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-fwxLR9vc1krL);
  min-width: 0;
  border-radius: 4px;
  padding: 8px 16px;
}
.total {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__usYfA {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  line-height: 20px;
  color: var(--token-nuB3vbLUeNHj);
  font-family: "DM Sans", sans-serif;
}
.amount {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__xqio {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre-wrap;
  color: var(--token-nuB3vbLUeNHj);
  line-height: 20px;
  font-family: "DM Sans", sans-serif;
}
.freeBox__e3Yib {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.stripeCheckoutButton__q4T53:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  height: auto;
}
.button__jSo:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__zEaax {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__gZhn9 {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__d7Sds {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.stripeCheckout:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  display: none;
}
