.root {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.structureLp {
  background: rgba(0, 0, 0, 1);
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .structureLp {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar {
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    min-height: 0;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  display: none;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationBar:global(.__wab_instance) {
    display: flex;
  }
}
.link__tR0Yp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__tR0Yp {
    display: none;
  }
}
.img__coGiJ {
  object-fit: cover;
  height: 40px;
}
.img__coGiJ > picture > img {
  object-fit: cover;
}
.frame21 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame21 {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 20px;
    min-width: 0;
    display: none;
  }
}
.freeBox__p5GP {
  display: block;
  position: relative;
  width: 68px;
  height: 68px;
  flex-shrink: 0;
}
.svg__jEffX {
  object-fit: cover;
  max-width: 100%;
  color: #bafe68;
  transform: scale(0.999999982885729, 0.9999999828857289) rotate(135deg);
  width: 47.76081085205078px;
  height: 47.76081085205078px;
  display: block;
  transform-origin: top left;
  position: absolute;
  left: 68px;
  top: 34px;
}
.frame22 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame23 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 1.8032640218734741px;
  padding-right: 1.8032640218734741px;
  column-gap: 1.1270400285720825px;
}
.text__xlGk7 {
  display: block;
  font-size: 10.819584846496582px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame24 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 1.8032640218734741px;
  padding-right: 1.8032640218734741px;
  column-gap: 1.1270400285720825px;
  border-radius: 22.540800094604492px;
}
.text__kPayw {
  display: block;
  font-size: 10.819584846496582px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame25 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 1.8032640218734741px;
  padding-right: 1.8032640218734741px;
  column-gap: 1.1270400285720825px;
}
.text__oEnIp {
  display: block;
  font-size: 10.819584846496582px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.jamLogo2 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  column-gap: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .jamLogo2 {
    align-self: flex-start;
  }
}
.svg___0Zzo {
  object-fit: cover;
  max-width: 100%;
  color: #bafe68;
  transform: scale(0.9999999403953552, 0.9999999403953552);
  width: 45px;
  height: 55px;
  display: block;
  transform-origin: top left;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.frame30 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame31 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 3.0913097858428955px;
  padding-right: 3.0913097858428955px;
}
.text__r1Ara {
  display: block;
  font-size: 18.54785919189453px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.frame32 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 3.0913097858428955px;
  padding-right: 3.0913097858428955px;
  border-radius: 38.64137268066406px;
}
.text__h2Umd {
  display: block;
  font-size: 18.54785919189453px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.frame33 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-left: 3.0913097858428955px;
  padding-right: 3.0913097858428955px;
}
.text___45CAm {
  display: block;
  font-size: 18.54785919189453px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.img__qKyzo {
  object-fit: cover;
}
.img__qKyzo > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__qKyzo {
    display: none;
  }
}
.svg__kj1Ru {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-XkcIRFBUIQDs);
  width: 30px;
  height: 30px;
}
.img__yjNhy {
  object-fit: cover;
}
.img__yjNhy > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yjNhy {
    display: none;
  }
}
.svg___9Ppo0 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-XkcIRFBUIQDs);
  width: 20px;
  height: 20px;
}
.link__wlyjz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__wlyjz {
    display: none;
  }
}
.link__a1Xn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__a1Xn {
    display: none;
  }
}
.link__lp6Q6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__lp6Q6 {
    display: none;
  }
}
.text__p3Mkh {
  display: block;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 24px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  cursor: pointer;
}
.text__o6LA {
  display: block;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 24px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  cursor: pointer;
}
.text__twTaU {
  display: block;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 24px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  cursor: pointer;
}
.button__nUrBh:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__nUrBh:global(.__wab_instance):global(.__wab_instance) {
    width: 50%;
  }
}
.svg__mD0P {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__f7PKf {
  white-space: pre;
  color: var(--token-tUlf7BrDP8BN);
}
.svg__resOy {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  margin-right: 0px;
  height: 1em;
}
.header3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #ffffff00;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  column-gap: 80px;
  min-width: 0;
  padding: 23px 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header3 {
    height: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    margin-bottom: 32px;
    column-gap: 8px;
    row-gap: 0px;
    display: none;
    padding: 20px;
  }
}
.jamLogo {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  column-gap: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .jamLogo {
    align-self: flex-start;
  }
}
.svg__jWfPe {
  object-fit: cover;
  max-width: 100%;
  color: #bafe68;
  transform: scale(0.9999999403953552, 0.9999999403953552);
  width: 45px;
  height: 55px;
  display: block;
  transform-origin: top left;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.frame26 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame27 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 3.0913097858428955px;
  padding-right: 3.0913097858428955px;
}
.text__o9N6F {
  display: block;
  font-size: 18.54785919189453px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.frame28 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 3.0913097858428955px;
  padding-right: 3.0913097858428955px;
  border-radius: 38.64137268066406px;
}
.text__yj7KW {
  display: block;
  font-size: 18.54785919189453px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.frame29 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-left: 3.0913097858428955px;
  padding-right: 3.0913097858428955px;
}
.text__o9B0 {
  display: block;
  font-size: 18.54785919189453px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.menuItems2 {
  background: rgba(0, 0, 0, 1);
  backdrop-filter: blur(20px);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 32px;
  -webkit-backdrop-filter: blur(20px);
  border-radius: 99px;
  padding: 12px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuItems2 {
    padding-bottom: 32px;
    justify-content: center;
    align-items: center;
    width: auto;
  }
}
.text__nDfpf {
  display: block;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 24px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  cursor: pointer;
}
.text__xzV72 {
  display: block;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 24px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  cursor: pointer;
}
.text__tqZFt {
  display: block;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 24px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  cursor: pointer;
}
.freeBox__iepX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  padding: 8px;
}
.button__jcJj2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__tAy18 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2P4Zh {
    display: none;
  }
}
.svg__u00G9 {
  position: relative;
  height: 1em;
}
.benefices {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 64px;
  min-width: 0;
  min-height: 0;
  padding: 0px 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .benefices {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }
}
.container {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 32px;
  padding-right: 32px;
  row-gap: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.content2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 48px;
}
.headingAndSupportingText {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headingAndSupportingText {
    width: 100%;
    min-width: 0;
  }
}
.headingAndBadge {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 16px;
  min-width: 0;
}
.badgeGroup2 {
  background: rgba(195, 209, 169, 0.15000000596046448);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.05999999865889549);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 12px;
  border-radius: 16px;
  padding: 4px 12px;
}
.content3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
}
.message2 {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(186, 254, 104, 1);
  position: relative;
}
.heading {
  display: block;
  font-size: var(--token-UXPBeNJ4rrVx);
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.2000000476837158;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
.item {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading2 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading2 {
    text-align: left;
  }
}
.supportingText6 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText6 {
    text-align: left;
  }
}
.ul__iLx0I {
  display: flex;
  flex-direction: column;
}
.ul__hOsae {
  display: flex;
  flex-direction: column;
}
.item2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item2 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading3 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading3 {
    text-align: left;
  }
}
.supportingText7 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText7 {
    text-align: left;
  }
}
.item3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item3 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading4 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading4 {
    text-align: left;
  }
}
.supportingText8 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText8 {
    text-align: left;
  }
}
.ul__psDdZ {
  display: flex;
  flex-direction: column;
}
.item4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item4 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText5 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading7 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading7 {
    text-align: left;
  }
}
.supportingText9 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText9 {
    text-align: left;
  }
}
.item5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item5 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText6 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading8 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading8 {
    text-align: left;
  }
}
.supportingText10 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText10 {
    text-align: left;
  }
}
.item6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0px;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item6 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText7 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading9 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading9 {
    text-align: left;
  }
}
.supportingText11 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText11 {
    text-align: left;
  }
}
.item7 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0px;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item7 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText8 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading10 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading10 {
    text-align: left;
  }
}
.supportingText12 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText12 {
    text-align: left;
  }
}
.item8 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0px;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item8 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText9 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading11 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading11 {
    text-align: left;
  }
}
.supportingText13 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText13 {
    text-align: left;
  }
}
.item9 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0px;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item9 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText10 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading12 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading12 {
    text-align: left;
  }
}
.supportingText14 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText14 {
    text-align: left;
  }
}
.ul__uaVbt {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.item10 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item10 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText11 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading13 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading13 {
    text-align: left;
  }
}
.supportingText15 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText15 {
    text-align: left;
  }
}
.ul__qejSk {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.item11 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item11 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText12 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading14 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading14 {
    text-align: left;
  }
}
.supportingText16 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText16 {
    text-align: left;
  }
}
.ul__dnJLf {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.item12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item12 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText13 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading15 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading15 {
    text-align: left;
  }
}
.supportingText17 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText17 {
    text-align: left;
  }
}
.item13 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item13 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText14 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading16 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading16 {
    text-align: left;
  }
}
.supportingText18 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText18 {
    text-align: left;
  }
}
.ul__nd9Rr {
  display: flex;
  flex-direction: column;
}
.item14 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item14 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText15 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading17 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading17 {
    text-align: left;
  }
}
.supportingText19 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText19 {
    text-align: left;
  }
}
.ul__zqibj {
  display: flex;
  flex-direction: column;
}
.item15 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0px;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item15 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText16 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading18 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading18 {
    text-align: left;
  }
}
.supportingText20 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText20 {
    text-align: left;
  }
}
.item16 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0px;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item16 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText17 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading19 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading19 {
    text-align: left;
  }
}
.supportingText21 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText21 {
    text-align: left;
  }
}
.item17 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0px;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item17 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText18 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading20 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading20 {
    text-align: left;
  }
}
.supportingText22 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText22 {
    text-align: left;
  }
}
.ul__mBoV1 {
  display: flex;
  flex-direction: column;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
}
