.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.jamButton__bJ8L3:global(.__wab_instance) {
  max-width: 100%;
}
.ariaPopover:global(.__wab_instance) {
  font-family: var(--token-iPHCqhfXwTyN);
  font-size: var(--token-aRuWp9ICGc-Q);
  color: var(--token-ceD1eQOG2geq);
  line-height: var(--token-QTSTTNIaGHpG);
  box-shadow: 0px 0px 20px 0px #00000040;
  border-radius: var(--token-nKoNI3RzPDCD);
}
.ariaDialog:global(.__wab_instance) {
  object-fit: cover;
  outline-style: none;
}
.freeBox__gUq4W {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  background: var(--token-uqUcyTUgvV0c);
  align-items: flex-start;
  width: 320px;
  row-gap: var(--token-59Hq8h0iWXrB);
  border-radius: var(--token-nKoNI3RzPDCD);
  padding: var(--token-dvG6wyumbmS0);
}
.text__q97Jf {
  position: relative;
}
.text___2DSkF {
  position: relative;
  font-weight: 500;
}
.text__dz9Ya {
  position: relative;
}
