.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 0;
}
.frame {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  width: auto;
  padding: 16px;
  border-bottom: 1px solid var(--token-J_kHJIXAsK0j);
}
.frame > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame > :global(.__wab_flex-container) > *,
.frame > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame > :global(.__wab_flex-container) > picture > img,
.frame > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.applied {
  background: rgba(0, 36, 0, 1);
  width: auto;
  height: 28px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 4px 12px;
}
.applied > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.applied > :global(.__wab_flex-container) > *,
.applied > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.applied > :global(.__wab_flex-container) > picture > img,
.applied
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__nUdoz {
  object-fit: cover;
  max-width: 100%;
  color: #f4f4f4;
  width: 14.329999923706055px;
  height: 14.329999923706055px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__htTrS {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 100%;
  color: rgba(244, 244, 244, 1);
  position: relative;
  user-select: text;
  letter-spacing: normal;
}
.lastMinute {
  background: linear-gradient(
      180deg,
      rgba(246, 22, 91, 1) 0%,
      rgba(243, 99, 32, 1) 63%
    )
    0% 0% / 100% 100% no-repeat;
  width: auto;
  height: 28px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 4px 12px;
}
.lastMinute > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.lastMinute > :global(.__wab_flex-container) > *,
.lastMinute > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.lastMinute > :global(.__wab_flex-container) > picture > img,
.lastMinute
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__mkivu {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 20.067798614501953px;
  height: 20.06779670715332px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__wpAr {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
._new {
  background: rgba(186, 254, 104, 1);
  width: auto;
  height: 28px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 4px 12px;
}
._new > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
._new > :global(.__wab_flex-container) > *,
._new > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
._new > :global(.__wab_flex-container) > picture > img,
._new > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.text__fVn {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.06em;
  line-height: 100%;
  color: rgba(0, 36, 0, 1);
  position: relative;
}
.frame3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame3 > :global(.__wab_flex-container) > *,
.frame3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3 > :global(.__wab_flex-container) > picture > img,
.frame3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__gTbPg {
  object-fit: fill;
  max-width: 100%;
  height: auto;
  max-height: 55px;
}
.img__gTbPg > picture > img {
  object-fit: fill;
}
.frame4 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.frame4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame4 > :global(.__wab_flex-container) > *,
.frame4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame4 > :global(.__wab_flex-container) > picture > img,
.frame4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__ycAuO {
  display: block;
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 27px;
  color: rgba(0, 0, 0, 1);
}
.frame5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.frame5 > :global(.__wab_flex-container) > *,
.frame5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame5 > :global(.__wab_flex-container) > picture > img,
.frame5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__yHfcx {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 12px;
  height: 12px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__fdfUa {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.infos {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.infos > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  align-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.infos > :global(.__wab_flex-container) > *,
.infos > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.infos > :global(.__wab_flex-container) > picture > img,
.infos > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
  margin-top: 8px;
}
.frame6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.frame6 > :global(.__wab_flex-container) > *,
.frame6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame6 > :global(.__wab_flex-container) > picture > img,
.frame6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__aqi7Z {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 12px;
  height: 12px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__j6RdR {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.jobs {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.jobs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.jobs > :global(.__wab_flex-container) > *,
.jobs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.jobs > :global(.__wab_flex-container) > picture > img,
.jobs > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
}
.svg__knG93 {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 12px;
  height: 12px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text___975O {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.jobs2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.jobs2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.jobs2 > :global(.__wab_flex-container) > *,
.jobs2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.jobs2 > :global(.__wab_flex-container) > picture > img,
.jobs2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
}
.svg__s5WUs {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 12px;
  height: 12px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__iikNe {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.jobs3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.jobs3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.jobs3 > :global(.__wab_flex-container) > *,
.jobs3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.jobs3 > :global(.__wab_flex-container) > picture > img,
.jobs3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
}
.svg__ngiS7 {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 12px;
  height: 12px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text___5Z0I {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame7 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.frame7 > :global(.__wab_flex-container) > *,
.frame7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame7 > :global(.__wab_flex-container) > picture > img,
.frame7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__jvQpo {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 12px;
  height: 12px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__kQnaq {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame8 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.frame8 > :global(.__wab_flex-container) > *,
.frame8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame8 > :global(.__wab_flex-container) > picture > img,
.frame8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.img__hjnsk {
  object-fit: cover;
  max-width: 100%;
  width: 12px;
  height: 12px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.img__hjnsk > picture > img {
  object-fit: cover;
}
.text__jEs9O {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
