.mesAlertes {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mesAlertes {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebar:global(.__wab_instance) {
    display: none;
  }
}
.mobileNavbarTop:global(.__wab_instance) {
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  align-self: stretch;
  max-width: 100%;
  right: 0;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileNavbarTop:global(.__wab_instance) {
    display: flex;
  }
}
.main {
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: column;
  flex-shrink: 0;
  width: 80%;
  height: 100%;
  min-height: 0;
  padding: 64px;
}
.main > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.main > :global(.__wab_flex-container) > *,
.main > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.main > :global(.__wab_flex-container) > picture > img,
.main > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    width: 100%;
    height: 100%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    padding: 80px 20px 78px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .main > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .main > :global(.__wab_flex-container) > *,
  .main > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .main > :global(.__wab_flex-container) > picture > img,
  .main
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.heading {
  display: block;
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.399999976158142;
  color: rgba(0, 0, 0, 1);
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading {
    left: auto;
    top: auto;
    padding-top: 20px;
  }
}
.card2 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(244, 255, 230, 1);
  transform: scale(0.9999999403953552, 0.9999999403953552);
  height: 100%;
  display: flex;
  transform-origin: top left;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
}
.card2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.card2 > :global(.__wab_flex-container) > *,
.card2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card2 > :global(.__wab_flex-container) > picture > img,
.card2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card2 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: calc(0px + 0px) !important;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: calc(0px + 32px) !important;
    backface-visibility: hidden;
    transform: none;
    width: 100%;
    min-width: 0;
    padding: 0px 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .card2 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .card2 > :global(.__wab_flex-container) > *,
  .card2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .card2 > :global(.__wab_flex-container) > picture > img,
  .card2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.annonces2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.dataGrid:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.noAnnonce {
  transform: scale(1.0000001192092896, 1.0000001192092896);
  height: 100%;
  display: flex;
  transform-origin: top left;
  position: relative;
  align-self: stretch;
  left: auto;
  top: auto;
  background: var(--token-uqUcyTUgvV0c);
  flex-direction: column;
  min-height: 0;
  border-radius: 16px;
  padding: 64px;
}
.noAnnonce > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.noAnnonce > :global(.__wab_flex-container) > *,
.noAnnonce > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.noAnnonce > :global(.__wab_flex-container) > picture > img,
.noAnnonce
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .noAnnonce {
    left: auto;
    top: auto;
    position: relative;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .noAnnonce > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.featuredIcon2 {
  background: rgba(232, 255, 204, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(248, 248, 248, 1);
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 20px;
}
.svg__aq2Ug {
  object-fit: cover;
  color: #343330;
  height: 1em;
  display: block;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__aq2Ug {
    position: relative;
  }
}
.textAndSupportingText2 {
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: auto;
}
.textAndSupportingText2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.textAndSupportingText2 > :global(.__wab_flex-container) > *,
.textAndSupportingText2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.textAndSupportingText2 > :global(.__wab_flex-container) > picture > img,
.textAndSupportingText2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text6 {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(18, 17, 22, 1);
  align-self: auto;
  position: relative;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: auto;
}
.supportingText2 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
  position: relative;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__seaXf:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg___73Fwa {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text___29COm {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__crfqi {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.mobileNavbarBottom:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileNavbarBottom:global(.__wab_instance) {
    display: flex;
  }
}
.modal:global(.__wab_instance):global(.__wab_instance) {
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  align-self: auto;
  width: 100%;
  bottom: auto;
  right: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .modal:global(.__wab_instance):global(.__wab_instance) {
    left: auto;
    top: auto;
    display: none;
  }
}
.button:global(.__wab_instance) {
  display: none;
}
.h3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-JJChWPPhfZHS);
  min-width: 0;
  display: none;
  padding: var(--token-BL89_XMR-RdQ);
}
.alerteModal {
  background: rgba(255, 255, 255, 1);
  filter: none;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: auto;
  flex-direction: column;
  min-width: 0;
  padding: 20px 20px 64px;
}
.alerteModal > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.alerteModal > :global(.__wab_flex-container) > *,
.alerteModal > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.alerteModal > :global(.__wab_flex-container) > picture > img,
.alerteModal
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 17px;
  height: 17px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.frame1437254312 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
}
.frame1437254312 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.frame1437254312 > :global(.__wab_flex-container) > *,
.frame1437254312 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1437254312 > :global(.__wab_flex-container) > picture > img,
.frame1437254312
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.heading2 {
  display: block;
  font-size: 40px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.2000000476837158;
  color: rgba(5, 5, 5, 1);
  position: relative;
}
.frame1437254313 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame1437254313 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame1437254313 > :global(.__wab_flex-container) > *,
.frame1437254313 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1437254313 > :global(.__wab_flex-container) > picture > img,
.frame1437254313
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  object-fit: cover;
  min-width: 0;
}
.formField__fgi0Z:global(.__wab_instance) {
  width: 100%;
  padding-bottom: 10px;
  min-width: 0;
  margin: 0px;
}
.textInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.formField__p9DDn:global(.__wab_instance) {
  width: 100%;
  padding-bottom: 10px;
  min-width: 0;
  margin: 0px;
}
.textInput2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.formField__a1X2X:global(.__wab_instance) {
  width: 100%;
  padding-bottom: 10px;
  display: block;
  min-width: 0;
  margin: 0px;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: block;
  filter: drop-shadow(0px 0px 10px #dc2626);
  mix-blend-mode: normal;
  cursor: pointer;
  border-radius: 16px;
  border: 1px solid var(--token-nuB3vbLUeNHj);
}
.formField__luBtz:global(.__wab_instance) {
  width: 100%;
  padding-bottom: 10px;
  min-width: 0;
  margin: 0px;
}
.select3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__sHjY:global(.__wab_instance) {
  width: 100%;
  padding-bottom: 10px;
  min-width: 0;
  margin: 0px;
}
.select4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__iOjmQ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__zc2Dg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
