.cvUpload {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  background: var(--token-nuB3vbLUeNHj);
  height: 136px;
  position: relative;
  min-width: 0;
  border-radius: 16px;
  border: 1px solid var(--token-d-0gEGbakN0M);
}
@media (min-width: 0px) and (max-width: 768px) {
  .cvUpload {
    width: auto;
    display: inline-flex;
  }
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  margin-top: 12px;
  cursor: pointer;
  color: var(--token-uqUcyTUgvV0c);
  flex-shrink: 0;
}
.content7 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 19px;
  align-content: stretch;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: auto;
  background: var(--token-uqUcyTUgvV0c);
  border-radius: 99px;
  padding: 3px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  flex-shrink: 0;
  border-radius: 99px;
  padding: 8px;
}
.img > picture > img {
  object-fit: cover;
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-uqUcyTUgvV0c);
  position: relative;
  left: auto;
  top: auto;
  text-align: center;
  min-width: 0;
}
