.sidebar {
  background: rgba(0, 0, 0, 1);
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 100%;
  flex-shrink: 0;
  justify-self: flex-start;
  row-gap: 60px;
  overflow: auto;
  min-height: 0;
  padding: 60px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
.logoWrapper {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  color: #0070f3;
  left: auto;
  top: auto;
  row-gap: 10.751590728759766px;
}
.svg__uPc3B {
  object-fit: cover;
  max-width: 100%;
  color: #bafe68;
  width: auto;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__vpz1D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 600;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__flPpg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  top: auto;
  left: auto;
  z-index: 1;
  align-self: stretch;
  row-gap: 14px;
  min-height: 0;
}
.candidat {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  row-gap: 28px;
  min-width: 0;
  padding: 0px;
}
.sideBarButton__ybHin:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.svg__szCwB {
  position: relative;
  width: 20px;
  height: 20px;
}
.text__pYn1Z {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.svg__fMXxQ {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.sideBarButton__eQp4:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.svg__onoj8 {
  position: relative;
  width: 20px;
  height: 20px;
}
.text__mXn1A {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.svg___8GFh {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.sideBarButton__unDnB:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.svg__xNuo3 {
  position: relative;
  width: 20px;
  height: 20px;
}
.text__yj6GY {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.svg__l2Nd1 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.sideBarButton__xlKVn:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.svg__x4G2D {
  position: relative;
  width: 20px;
  height: 20px;
}
.text__lb6Xu {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.svg___8X0Vo {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.sideBarButton__uGb2:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.svg___7PPcX {
  position: relative;
  width: 20px;
  height: 20px;
}
.text__nghUf {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.svg__c2U4G {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.employer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.company {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  flex-shrink: 0;
  cursor: auto;
  row-gap: 28px;
  padding: 0px;
}
.sideBarButton__lL8JE:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.svg___6CsA {
  position: relative;
  width: 20px;
  height: 20px;
}
.text___8YwHh {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.svg__c9Gev {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.sideBarButton__nGyEt:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.svg__etOs9 {
  position: relative;
  width: 20px;
  height: 20px;
}
.text__dao91 {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.svg__cy3L7 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.sideBarButton___54H2X:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.svg__xLfno {
  position: relative;
  width: 20px;
  height: 20px;
}
.text__fLt0T {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.svg__iaDLm {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.sideBarButton___6BJNu:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: -13px;
  margin-left: 25px;
}
.text__c7TJv {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  text-transform: none;
}
.svg__uzAEl {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.sideBarButton__szFlz:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: -25px;
  margin-left: 25px;
}
.text__ocyzT {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  text-transform: none;
}
.svg__rxQag {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.credits {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 0;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid var(--token-X0hEa-utMcvr);
}
.text__zoKt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-uqUcyTUgvV0c);
  font-family: "DM Sans", sans-serif;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
}
.freeBox__m0CJu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__bkGa9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-uqUcyTUgvV0c);
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
  font-weight: 400;
}
.text__ic0Wd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
}
.separateur__usu6B:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-X0hEa-utMcvr);
  height: 1px;
  margin-top: 8px;
  margin-bottom: 12px;
  background: var(--token-X0hEa-utMcvr);
  flex-shrink: 0;
}
.freeBox__ttH {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__fFlxo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-uqUcyTUgvV0c);
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
}
.text__ucbk9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-uqUcyTUgvV0c);
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
}
.separateur___33Zas:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-X0hEa-utMcvr);
  height: 1px;
  margin-top: 8px;
  margin-bottom: 12px;
  background: var(--token-X0hEa-utMcvr);
  flex-shrink: 0;
}
.freeBox__coPh9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__dJbUf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-uqUcyTUgvV0c);
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
}
.text__vuK4E {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-uqUcyTUgvV0c);
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.separateur__lOvhJ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-X0hEa-utMcvr);
  height: 1px;
  margin-top: 8px;
  margin-bottom: 12px;
  background: var(--token-X0hEa-utMcvr);
  flex-shrink: 0;
}
.admin {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  row-gap: 28px;
  min-width: 0;
  padding: 0px;
}
.sideBarButton___6A8E5:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.svg__oik43 {
  position: relative;
  width: 20px;
  height: 20px;
}
.text__tyMmm {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.svg__vJS5 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.sideBarButton__xh4Xg:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.svg___5Xej7 {
  position: relative;
  width: 20px;
  height: 20px;
}
.text___9HeY {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.svg___4ChR {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.sideBarButton__ncJxO:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: -13px;
  margin-left: 25px;
}
.text__ilW {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  text-transform: none;
}
.svg__dtugq {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.sideBarButton__brRvD:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: -25px;
  margin-left: 25px;
}
.text__cMtud {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  text-transform: none;
}
.svg__erf7C {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.transalteComponent {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.weglotSelector:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.disconnectButton {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 7px;
  left: auto;
  top: auto;
  z-index: 1;
  margin-top: 8px;
  min-width: 0;
  padding: 0px;
}
.svg__qm6FN {
  object-fit: cover;
  max-width: 100%;
  color: #bafe68;
  width: 22px;
  height: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.link {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(241, 241, 241, 1);
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0.02em;
  cursor: pointer;
  display: none;
}
.sideBarButton__bG6GX:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.svg__jHbiR {
  position: relative;
  width: 20px;
  height: 20px;
}
.text__jJnT7 {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.svg__dVur1 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
