.root {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.structureLp {
  background: rgba(0, 0, 0, 1);
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .structureLp {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar {
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    min-height: 0;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  display: none;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationBar:global(.__wab_instance) {
    display: flex;
  }
}
.link__oOwfh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__oOwfh {
    display: none;
  }
}
.img___7My0F {
  object-fit: cover;
  height: 40px;
}
.img___7My0F > picture > img {
  object-fit: cover;
}
.frame21 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame21 {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 20px;
    min-width: 0;
    display: none;
  }
}
.freeBox__pARqp {
  display: block;
  position: relative;
  width: 68px;
  height: 68px;
  flex-shrink: 0;
}
.svg__eeACq {
  object-fit: cover;
  max-width: 100%;
  color: #bafe68;
  transform: scale(0.999999982885729, 0.9999999828857289) rotate(135deg);
  width: 47.76081085205078px;
  height: 47.76081085205078px;
  display: block;
  transform-origin: top left;
  position: absolute;
  left: 68px;
  top: 34px;
}
.frame22 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame23 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 1.8032640218734741px;
  padding-right: 1.8032640218734741px;
  column-gap: 1.1270400285720825px;
}
.text__oeWnq {
  display: block;
  font-size: 10.819584846496582px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame24 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 1.8032640218734741px;
  padding-right: 1.8032640218734741px;
  column-gap: 1.1270400285720825px;
  border-radius: 22.540800094604492px;
}
.text___6E7Mt {
  display: block;
  font-size: 10.819584846496582px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame25 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 1.8032640218734741px;
  padding-right: 1.8032640218734741px;
  column-gap: 1.1270400285720825px;
}
.text__rLcKm {
  display: block;
  font-size: 10.819584846496582px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.jamLogo2 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  column-gap: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .jamLogo2 {
    align-self: flex-start;
  }
}
.svg__dEv9D {
  object-fit: cover;
  max-width: 100%;
  color: #bafe68;
  transform: scale(0.9999999403953552, 0.9999999403953552);
  width: 45px;
  height: 55px;
  display: block;
  transform-origin: top left;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.frame30 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame31 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 3.0913097858428955px;
  padding-right: 3.0913097858428955px;
}
.text__wzO5H {
  display: block;
  font-size: 18.54785919189453px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.frame32 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 3.0913097858428955px;
  padding-right: 3.0913097858428955px;
  border-radius: 38.64137268066406px;
}
.text___8Hm7 {
  display: block;
  font-size: 18.54785919189453px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.frame33 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-left: 3.0913097858428955px;
  padding-right: 3.0913097858428955px;
}
.text__n5AJu {
  display: block;
  font-size: 18.54785919189453px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.img__sTkNq {
  object-fit: cover;
}
.img__sTkNq > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__sTkNq {
    display: none;
  }
}
.svg__c6QM5 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-XkcIRFBUIQDs);
  width: 30px;
  height: 30px;
}
.img__bXeEe {
  object-fit: cover;
}
.img__bXeEe > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__bXeEe {
    display: none;
  }
}
.svg__p1Oh6 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-XkcIRFBUIQDs);
  width: 20px;
  height: 20px;
}
.link__ri9At {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ri9At {
    display: none;
  }
}
.link__qm2RO {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__qm2RO {
    display: none;
  }
}
.link__pFqJs {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__pFqJs {
    display: none;
  }
}
.text__hfSCu {
  display: block;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 24px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  cursor: pointer;
}
.text__kIayC {
  display: block;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 24px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  cursor: pointer;
}
.text__n4Z95 {
  display: block;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 24px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  cursor: pointer;
}
.button__dAtNj:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__dAtNj:global(.__wab_instance):global(.__wab_instance) {
    width: 50%;
  }
}
.svg__fuEac {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__zPzCn {
  white-space: pre;
  color: var(--token-tUlf7BrDP8BN);
}
.svg__t4Qia {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  margin-right: 0px;
  height: 1em;
}
.header3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #ffffff00;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  column-gap: 80px;
  min-width: 0;
  padding: 23px 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header3 {
    height: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    margin-bottom: 32px;
    column-gap: 8px;
    row-gap: 0px;
    display: none;
    padding: 20px;
  }
}
.jamLogo {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  column-gap: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .jamLogo {
    align-self: flex-start;
  }
}
.svg__rur2G {
  object-fit: cover;
  max-width: 100%;
  color: #bafe68;
  transform: scale(0.9999999403953552, 0.9999999403953552);
  width: 45px;
  height: 55px;
  display: block;
  transform-origin: top left;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.frame26 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame27 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 3.0913097858428955px;
  padding-right: 3.0913097858428955px;
}
.text__alqSz {
  display: block;
  font-size: 18.54785919189453px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.frame28 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 3.0913097858428955px;
  padding-right: 3.0913097858428955px;
  border-radius: 38.64137268066406px;
}
.text__md9Ux {
  display: block;
  font-size: 18.54785919189453px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.frame29 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-left: 3.0913097858428955px;
  padding-right: 3.0913097858428955px;
}
.text___1CuIk {
  display: block;
  font-size: 18.54785919189453px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.menuItems2 {
  background: rgba(0, 0, 0, 1);
  backdrop-filter: blur(20px);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 32px;
  -webkit-backdrop-filter: blur(20px);
  border-radius: 99px;
  padding: 12px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuItems2 {
    padding-bottom: 32px;
    justify-content: center;
    align-items: center;
    width: auto;
  }
}
.text__oOtkw {
  display: block;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 24px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  cursor: pointer;
}
.text__wTuO3 {
  display: block;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 24px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  cursor: pointer;
}
.text__uWzLn {
  display: block;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 24px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  cursor: pointer;
}
.freeBox___3JCa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  padding: 8px;
}
.button__pbNfH:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg___5PAhm {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7Ur42 {
    display: none;
  }
}
.svg__prgg0 {
  position: relative;
  height: 1em;
}
.benefices {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 64px;
  min-width: 0;
  min-height: 0;
  padding: 0px 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .benefices {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }
}
.container {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 32px;
  padding-right: 32px;
  row-gap: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.content2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 48px;
}
.headingAndSupportingText {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headingAndSupportingText {
    width: 100%;
    min-width: 0;
  }
}
.headingAndBadge {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 16px;
  min-width: 0;
}
.badgeGroup2 {
  background: rgba(195, 209, 169, 0.15000000596046448);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.05999999865889549);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 12px;
  border-radius: 16px;
  padding: 4px 12px;
}
.content3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
}
.message2 {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(186, 254, 104, 1);
  position: relative;
}
.heading {
  display: block;
  font-size: var(--token-UXPBeNJ4rrVx);
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.2000000476837158;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
.item7 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0px;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item7 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText8 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.supportingText12 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText12 {
    text-align: left;
  }
}
.item8 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0px;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item8 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText9 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading11 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading11 {
    text-align: left;
  }
}
.supportingText13 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText13 {
    text-align: left;
  }
}
.item9 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0px;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item9 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText10 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading12 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading12 {
    text-align: left;
  }
}
.supportingText14 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText14 {
    text-align: left;
  }
}
.ul__g5XCr {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
}
.item10 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item10 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText11 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading13 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading13 {
    text-align: left;
  }
}
.supportingText15 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText15 {
    text-align: left;
  }
}
.ul__himBd {
  display: flex;
  flex-direction: column;
}
.item11 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item11 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText12 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading14 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading14 {
    text-align: left;
  }
}
.supportingText16 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText16 {
    text-align: left;
  }
}
.ul__yiVeG {
  display: flex;
  flex-direction: column;
}
.item12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item12 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText13 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading15 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading15 {
    text-align: left;
  }
}
.supportingText17 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText17 {
    text-align: left;
  }
}
.item13 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item13 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText14 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading16 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading16 {
    text-align: left;
  }
}
.supportingText18 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText18 {
    text-align: left;
  }
}
.ul__wDWp6 {
  display: flex;
  flex-direction: column;
}
.item14 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item14 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText15 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading17 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading17 {
    text-align: left;
  }
}
.supportingText19 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText19 {
    text-align: left;
  }
}
.ul__cvLc6 {
  display: flex;
  flex-direction: column;
}
.item15 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0px;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item15 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText16 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading18 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading18 {
    text-align: left;
  }
}
.supportingText20 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText20 {
    text-align: left;
  }
}
.item16 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0px;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item16 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText17 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading19 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading19 {
    text-align: left;
  }
}
.supportingText21 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText21 {
    text-align: left;
  }
}
.item17 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0px;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .item17 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.headingAndSupportingText18 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.heading20 {
  display: block;
  font-size: var(--token-LGg-zkf2M2GB);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.2999999523162842;
  color: rgba(246, 246, 246, 1);
  align-self: stretch;
  position: relative;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading20 {
    text-align: left;
  }
}
.supportingText22 {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28.3px;
  color: rgba(221, 221, 221, 1);
  position: relative;
  width: 100%;
  padding-top: 0px;
  transform: skew(0deg, 0deg);
  flex-shrink: 1;
  isolation: isolate;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .supportingText22 {
    text-align: left;
  }
}
.ul__aY8Dx {
  display: flex;
  flex-direction: column;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
}
