.body {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
}
.freeBox___94M5L {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox___94M5L > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___94M5L > :global(.__wab_flex-container) > *,
.freeBox___94M5L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___94M5L > :global(.__wab_flex-container) > picture > img,
.freeBox___94M5L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 24px;
}
.leftContainer {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-self: auto;
  min-height: 0;
  padding: 8px;
}
.leftContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.leftContainer > :global(.__wab_flex-container) > *,
.leftContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.leftContainer > :global(.__wab_flex-container) > picture > img,
.leftContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__pPuLz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
}
.freeBox__pPuLz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__pPuLz > :global(.__wab_flex-container) > *,
.freeBox__pPuLz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pPuLz > :global(.__wab_flex-container) > picture > img,
.freeBox__pPuLz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__rIMcT {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.text__dmm9F {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__nu8Fa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
}
.freeBox__nu8Fa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__nu8Fa > :global(.__wab_flex-container) > *,
.freeBox__nu8Fa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nu8Fa > :global(.__wab_flex-container) > picture > img,
.freeBox__nu8Fa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__cRxSq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.text__hNbSn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__aYvLu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
}
.freeBox__aYvLu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__aYvLu > :global(.__wab_flex-container) > *,
.freeBox__aYvLu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aYvLu > :global(.__wab_flex-container) > picture > img,
.freeBox__aYvLu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__nmu51 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.text__gsXXv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__xlPlU {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
}
.freeBox__xlPlU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xlPlU > :global(.__wab_flex-container) > *,
.freeBox__xlPlU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xlPlU > :global(.__wab_flex-container) > picture > img,
.freeBox__xlPlU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__zUVq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.text__soSsD {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__reBaZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__reBaZ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__reBaZ > :global(.__wab_flex-container) > *,
.freeBox__reBaZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__reBaZ > :global(.__wab_flex-container) > picture > img,
.freeBox__reBaZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__ckOLy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.text__tUKug {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__zjEf2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
}
.freeBox__zjEf2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__zjEf2 > :global(.__wab_flex-container) > *,
.freeBox__zjEf2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zjEf2 > :global(.__wab_flex-container) > picture > img,
.freeBox__zjEf2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__buxF4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.text__hHske {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__jawJt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
}
.freeBox__jawJt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jawJt > :global(.__wab_flex-container) > *,
.freeBox__jawJt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jawJt > :global(.__wab_flex-container) > picture > img,
.freeBox__jawJt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__ySk6I {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.text__xcrqC {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__x756R {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
}
.freeBox__x756R > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__x756R > :global(.__wab_flex-container) > *,
.freeBox__x756R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x756R > :global(.__wab_flex-container) > picture > img,
.freeBox__x756R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__dHtiK {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.text__kGqEt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox___9NnAo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
}
.freeBox___9NnAo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___9NnAo > :global(.__wab_flex-container) > *,
.freeBox___9NnAo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9NnAo > :global(.__wab_flex-container) > picture > img,
.freeBox___9NnAo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__jiLQn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.text__ocQfu {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__hKfUd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
}
.freeBox__hKfUd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hKfUd > :global(.__wab_flex-container) > *,
.freeBox__hKfUd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hKfUd > :global(.__wab_flex-container) > picture > img,
.freeBox__hKfUd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__nlYlu {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.text___9V6Gb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__iRuP5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
}
.freeBox__iRuP5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__iRuP5 > :global(.__wab_flex-container) > *,
.freeBox__iRuP5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iRuP5 > :global(.__wab_flex-container) > picture > img,
.freeBox__iRuP5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__gqfrO {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.text__a3SgG {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__eyXx7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
}
.freeBox__eyXx7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__eyXx7 > :global(.__wab_flex-container) > *,
.freeBox__eyXx7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eyXx7 > :global(.__wab_flex-container) > picture > img,
.freeBox__eyXx7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__pFwX {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.text___91PZr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__yzlK {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
}
.freeBox__yzlK > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__yzlK > :global(.__wab_flex-container) > *,
.freeBox__yzlK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yzlK > :global(.__wab_flex-container) > picture > img,
.freeBox__yzlK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__mtvI5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.text__lDjQ9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox___0StR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
}
.freeBox___0StR > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___0StR > :global(.__wab_flex-container) > *,
.freeBox___0StR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0StR > :global(.__wab_flex-container) > picture > img,
.freeBox___0StR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__bLdbB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.text__pd5R5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox___9BqQw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
}
.freeBox___9BqQw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___9BqQw > :global(.__wab_flex-container) > *,
.freeBox___9BqQw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9BqQw > :global(.__wab_flex-container) > picture > img,
.freeBox___9BqQw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__b2WxJ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.text__o8JT7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__s4Ir6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
}
.freeBox__s4Ir6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__s4Ir6 > :global(.__wab_flex-container) > *,
.freeBox__s4Ir6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s4Ir6 > :global(.__wab_flex-container) > picture > img,
.freeBox__s4Ir6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__bxCgy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.text__mxo8R {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__lRxHp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
}
.freeBox__lRxHp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__lRxHp > :global(.__wab_flex-container) > *,
.freeBox__lRxHp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lRxHp > :global(.__wab_flex-container) > picture > img,
.freeBox__lRxHp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__iB6Xv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.text__mUtzI {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
