.parametresDeCompte {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  background: #f4f4f4;
  overflow-y: visible;
  overflow-x: hidden;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .parametresDeCompte {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.updateFirstGoogleConnection:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.sidebar:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  bottom: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebar:global(.__wab_instance) {
    display: none;
  }
}
.mobileNavbarTop:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  z-index: 100;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileNavbarTop:global(.__wab_instance) {
    display: flex;
  }
}
.main {
  height: auto;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 1;
  row-gap: 32px;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    width: 100%;
    align-items: stretch;
    justify-content: flex-start;
    height: auto;
    flex-shrink: 0;
    flex-wrap: nowrap;
    align-content: stretch;
    min-width: 0;
    padding: 100px 20px 131px;
  }
}
.heading {
  display: block;
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.399999976158142;
  color: rgba(0, 0, 0, 1);
  position: relative;
  left: auto;
  top: auto;
  padding-bottom: 0px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading {
    left: auto;
    top: auto;
  }
}
.container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 64px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    row-gap: 64px;
    column-gap: 0px;
  }
}
.informationsPersonnelles {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  width: 50%;
  border-radius: 24px;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .informationsPersonnelles {
    width: 100%;
    min-width: 0;
    padding: 15px;
  }
}
.frame1437254343 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437254343 {
    padding: 10px;
  }
}
.upload2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: center;
}
.img__yE9QY {
  object-fit: cover;
  max-width: 100%;
  width: 132px;
  height: 132px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  border-radius: 100px;
}
.img__yE9QY > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yE9QY {
    width: 130px;
    height: 130px;
  }
}
.editIcon {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  left: 118px;
  top: 100px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .editIcon {
    background: none;
    left: 120px;
    width: 30px;
    right: auto;
  }
}
.frame7 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(200, 200, 200, 1);
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  overflow: hidden;
  left: auto;
  top: auto;
  cursor: pointer;
  border-radius: 100px;
}
.svg___5XUxq {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 21px;
  height: 21px;
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  overflow: hidden;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___5XUxq {
    position: relative;
  }
}
.deleteIcon {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  left: 212px;
  top: 100px;
  cursor: pointer;
}
@media (min-width: 0px) and (max-width: 768px) {
  .deleteIcon {
    left: auto;
    right: 120px;
  }
}
.frame8 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(200, 200, 200, 1);
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: auto;
  left: auto;
  overflow: hidden;
  border-radius: 100px;
}
.svg__rF5F {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  overflow: hidden;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__rF5F {
    position: relative;
  }
}
.tableCell {
  transform: scale(1.0000001192092896, 1.0000001192092896);
  width: auto;
  height: 31px;
  display: flex;
  transform-origin: top left;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  left: auto;
  top: auto;
  column-gap: 12px;
  flex-shrink: 0;
  padding: 0px;
}
._switch:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text6 {
  display: block;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(26, 26, 26, 1);
  position: relative;
}
.textInputBase6 {
  transform: scale(1.0000001192092896, 1.0000001192092896);
  width: 366px;
  height: auto;
  display: flex;
  transform-origin: top left;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  left: auto;
  top: auto;
  row-gap: 6px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInputBase6 {
    width: auto;
  }
}
.hintText6 {
  display: block;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(77, 77, 77, 1);
  align-self: stretch;
  position: relative;
  padding-bottom: 32px;
}
.loadingBoundary:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__mhbqa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__bCefe {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: #535353;
  flex-shrink: 0;
}
.formulaire:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .formulaire:global(.__wab_instance) {
    align-items: center;
    justify-content: flex-start;
  }
}
.prenomNom {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  column-gap: 8px;
  min-width: 0;
}
.formField__gu1TP:global(.__wab_instance) {
  color: var(--token-OIYWLyLPYWym);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  width: 50%;
  font-weight: 400;
}
.text__jcv5C {
  font-size: 18px;
  font-weight: 500;
}
.firstName:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: none;
  width: 100%;
  min-width: 0;
}
.formField___4ZPYl:global(.__wab_instance) {
  color: var(--token-OIYWLyLPYWym);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  width: 50%;
}
.text__aw3GJ {
  font-size: 18px;
}
.lastName:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: none;
  width: 100%;
  min-width: 0;
}
.formField__y2STw:global(.__wab_instance) {
  color: var(--token-OIYWLyLPYWym);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  width: 100%;
  min-width: 0;
}
.text__wDbQt {
  font-size: 18px;
  font-weight: 500;
}
.textInput3:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.telephone {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  column-gap: var(--token-PKf5XaFatup3);
  min-width: 0;
  padding: 0px;
}
.formField__auHds:global(.__wab_instance) {
  width: auto;
  margin-bottom: 19px;
}
.text__jM6R {
  font-size: 18px;
  font-weight: 500;
}
.phoneSelector:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  margin-left: 8px;
}
.formField__mP1Tq:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 19px;
  min-width: 0;
}
.text__wsoid {
  display: none;
}
.textInput5:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.formField__cAjBw:global(.__wab_instance) {
  color: var(--token-OIYWLyLPYWym);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  width: 100%;
  padding-bottom: 8px;
  min-width: 0;
  margin: 0px;
}
.text__xComo {
  font-size: 18px;
  font-weight: 500;
}
.rue:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.codePosteVille {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px 0px 8px;
  margin: 0px;
}
.formField__r239:global(.__wab_instance) {
  color: var(--token-OIYWLyLPYWym);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  width: 40%;
  height: 48px;
  margin: 0px;
}
.codePostal:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: 100%;
}
.formField__u1Dml:global(.__wab_instance) {
  color: var(--token-OIYWLyLPYWym);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  width: 60%;
  margin: 0px;
}
.ville:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.formField__ttUxH:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.select4:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.menuItem___08SP:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.formField__aGgNa:global(.__wab_instance) {
  color: var(--token-OIYWLyLPYWym);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  width: 100%;
  min-width: 0;
}
.text__gj9T {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.modeOfTransportSelect:global(.__wab_instance) {
  color: var(--token-qVvTulujfE86);
  height: 100%;
  min-height: 48px;
  display: block;
  font-size: 16px;
  flex-direction: row;
  row-gap: 0px;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  background: none;
  align-self: auto;
  min-width: 0;
  border-radius: 16px;
  border: 1px solid var(--token-d-0gEGbakN0M);
}
.freeBox__i5V8N {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-top: 4px;
  column-gap: 4px;
}
.text__szn5Q {
  color: var(--token-3qu294j6Zo_Y);
  padding-top: 0px;
}
.svg___7ARQ {
  width: var(--token-dvG6wyumbmS0);
  height: var(--token-dvG6wyumbmS0);
  color: var(--token-qVvTulujfE86);
}
.formField___2RAap:global(.__wab_instance) {
  color: var(--token-OIYWLyLPYWym);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  width: 100%;
  min-width: 0;
}
.freeBox__eh9HC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.text__rgfup {
  font-weight: 500;
  font-size: 18px;
}
.text__dRa08 {
  font-size: 12px;
}
.textAreaInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: 100px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textAreaInput:global(.__wab_instance):global(.__wab_instance) {
    height: 100px;
  }
}
.formField__cpEfl:global(.__wab_instance) {
  color: var(--token-OIYWLyLPYWym);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  width: 100%;
  min-width: 0;
}
.text__lGeBc {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.select3:global(.__wab_instance) {
  color: var(--token-qVvTulujfE86);
  height: 100%;
  min-height: 48px;
  display: block;
  font-size: 16px;
  flex-direction: row;
  row-gap: 0px;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  background: none;
  align-self: auto;
  min-width: 0;
  border-radius: 16px;
  border: 1px solid var(--token-d-0gEGbakN0M);
}
@media (min-width: 0px) and (max-width: 768px) {
  .select3:global(.__wab_instance) {
    display: block;
    flex-shrink: 1;
  }
}
.freeBox__fubWb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-top: 4px;
  column-gap: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fubWb {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0px;
  }
}
.svg__t52Yn {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-k9S6aoU5yEYG);
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__t52Yn {
    position: relative;
    left: auto;
    top: auto;
  }
}
.text___4SVtn {
  color: var(--token-3qu294j6Zo_Y);
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4SVtn {
    position: relative;
    left: auto;
    top: auto;
  }
}
.svg___0Bqzq {
  width: var(--token-dvG6wyumbmS0);
  height: var(--token-dvG6wyumbmS0);
  color: var(--token-qVvTulujfE86);
}
.select8:global(.__wab_instance) {
  color: var(--token-OIYWLyLPYWym);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  background: #ffffff;
  height: 48px;
  min-width: 0;
  display: none;
}
.text__xU0H {
  color: var(--token-3qu294j6Zo_Y);
}
.svg__iv9X7 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-qVvTulujfE86);
  width: 15px;
  height: 15px;
}
.formField___5YLjM:global(.__wab_instance) {
  color: var(--token-OIYWLyLPYWym);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  width: 100%;
  min-width: 0;
}
.text__mtCAv {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.select:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: 100%;
}
.formField__vvnjx:global(.__wab_instance) {
  color: var(--token-OIYWLyLPYWym);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  width: 100%;
  min-width: 0;
}
.text__tTve0 {
  font-size: 18px;
  font-weight: 500;
}
.textInput4:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.button___2IaMi:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___2IaMi:global(.__wab_instance):global(.__wab_instance) {
    width: auto;
  }
}
.svg___7HU7 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__xnogZ {
  white-space: pre;
  color: var(--token-ceD1eQOG2geq);
}
.svg__ga8Yf {
  color: var(--token-OIYWLyLPYWym);
  position: relative;
  height: 1em;
}
.loader {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.cvModificationDuMdp {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  background: none;
  row-gap: 64px;
  min-height: 0;
  border-radius: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cvModificationDuMdp {
    align-items: stretch;
    width: 100%;
    min-width: 0;
  }
}
.uploadCvLdm {
  transform: scale(1.0000001192092896, 1.0000001192092896);
  display: flex;
  transform-origin: top left;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--token-uqUcyTUgvV0c);
  row-gap: 32px;
  min-width: 0;
  border-radius: 24px;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .uploadCvLdm {
    padding: 15px;
  }
}
.frame10 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 8px;
}
.email {
  display: block;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(5, 5, 5, 1);
  align-self: auto;
  position: relative;
  width: auto;
}
.cvnoUpload {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  background: none;
  height: 136px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cvnoUpload {
    width: 100%;
    min-width: 0;
    border-radius: 16px;
  }
}
.upload:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  text-align: center;
  align-self: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--token-Ct2qLf9b3GVG);
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  border: 1px solid var(--token-d-0gEGbakN0M);
}
@media (min-width: 0px) and (max-width: 768px) {
  .upload:global(.__wab_instance) {
    width: auto;
  }
}
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__mrjhl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: auto;
  background: var(--token-uqUcyTUgvV0c);
  border-radius: 99px;
  padding: 3px;
}
.img__liyK {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  flex-shrink: 0;
  border-radius: 99px;
  padding: 8px;
}
.img__liyK > picture > img {
  object-fit: cover;
}
.text__ccA9 {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-nuB3vbLUeNHj);
  min-width: 0;
}
.text__a8Q0B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-aTF8aD7JPbTj);
  min-width: 0;
}
.freeBox__ptXCo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__a87C8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-IQAnn5MeydGo);
  min-width: 0;
}
.text__qo27D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-IQAnn5MeydGo);
  min-width: 0;
}
.cvUpload {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  background: var(--token-nuB3vbLUeNHj);
  height: 136px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid var(--token-d-0gEGbakN0M);
}
@media (min-width: 0px) and (max-width: 768px) {
  .cvUpload {
    width: auto;
  }
}
.svg__eOmVd {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  margin-top: 12px;
  cursor: pointer;
  color: var(--token-uqUcyTUgvV0c);
  flex-shrink: 0;
}
.content5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 19px;
  min-width: 0;
  padding: 0px;
}
.freeBox__cmIex {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: auto;
  background: var(--token-uqUcyTUgvV0c);
  border-radius: 99px;
  padding: 3px;
}
.img__jin6E {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  flex-shrink: 0;
  border-radius: 99px;
  padding: 8px;
}
.img__jin6E > picture > img {
  object-fit: cover;
}
.text__m8XXb {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-uqUcyTUgvV0c);
  position: relative;
  left: auto;
  top: auto;
  text-align: center;
  min-width: 0;
}
.frame11 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 8px;
}
.email2 {
  display: block;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(5, 5, 5, 1);
  align-self: auto;
  position: relative;
}
.lmNoUpload {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  background: none;
  height: 136px;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .lmNoUpload {
    width: auto;
  }
}
.upload3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  text-align: center;
  align-self: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--token-Ct2qLf9b3GVG);
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  border: 1px solid var(--token-d-0gEGbakN0M);
}
.freeBox__ywp0V {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__oWGo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: auto;
  background: var(--token-uqUcyTUgvV0c);
  border-radius: 99px;
  padding: 3px;
}
.img__hAnWf {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  flex-shrink: 0;
  border-radius: 99px;
  padding: 8px;
}
.img__hAnWf > picture > img {
  object-fit: cover;
}
.text__cpLcg {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-nuB3vbLUeNHj);
  min-width: 0;
}
.text__pprMa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-aTF8aD7JPbTj);
  min-width: 0;
}
.freeBox__eJdi2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
  padding: 8px;
}
.text__bV4H {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-IQAnn5MeydGo);
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.text__qobQf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-IQAnn5MeydGo);
  left: auto;
  top: auto;
  min-width: 0;
}
.lmUpload {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  background: var(--token-nuB3vbLUeNHj);
  height: 136px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid var(--token-d-0gEGbakN0M);
}
@media (min-width: 0px) and (max-width: 768px) {
  .lmUpload {
    width: auto;
  }
}
.svg__y9Q64 {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  margin-top: 12px;
  cursor: pointer;
  color: var(--token-uqUcyTUgvV0c);
  flex-shrink: 0;
}
.content3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 19px;
  min-width: 0;
  padding: 0px;
}
.freeBox__ksiuw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: auto;
  background: var(--token-uqUcyTUgvV0c);
  border-radius: 99px;
  padding: 3px;
}
.img__zf67Z {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  flex-shrink: 0;
  border-radius: 99px;
  padding: 8px;
}
.img__zf67Z > picture > img {
  object-fit: cover;
}
.text__qkgUb {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-uqUcyTUgvV0c);
  position: relative;
  left: auto;
  top: auto;
  text-align: center;
  min-width: 0;
}
.reinitialisationDuMdp {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reinitialisationDuMdp {
    width: auto;
    height: auto;
  }
}
.card3 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(244, 255, 230, 1);
  transform: scale(0.9999999403953552, 0.9999999403953552);
  height: auto;
  display: flex;
  transform-origin: top left;
  position: relative;
  align-self: auto;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  left: auto;
  top: auto;
  width: 100%;
  margin-bottom: -22px;
  min-width: 0;
  border-radius: 24px;
  padding: 64px 64px -42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card3 {
    position: relative;
    left: auto;
    top: auto;
    padding: 8px;
  }
}
.resetPassword:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.form:global(.__wab_instance) {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  object-fit: cover;
  min-width: 0;
  display: none;
  padding: 8px;
}
.button__z6Bk1:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  margin-bottom: 0px;
  margin-top: -48px;
}
.svg__lpQwB {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text___3Ie04 {
  white-space: pre;
  color: var(--token-ceD1eQOG2geq);
}
.svg__gnFr {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.deleteAccount2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  margin: -44px 0px 0px;
}
.svg__o4Hmo {
  position: relative;
  color: var(--token-IQAnn5MeydGo);
  height: 1em;
}
.text__sk2Jw {
  white-space: pre;
  color: var(--token-IQAnn5MeydGo);
  font-weight: 500;
  text-transform: none;
}
.svg__f1CcQ {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.supprCompte:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__t4AIu {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t4AIu {
    display: none;
  }
}
.freeBox__cgtlR {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  row-gap: var(--token-nKoNI3RzPDCD);
}
.svg__a3Ceg {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 36px;
  margin-right: 26px;
  margin-top: 12px;
  cursor: pointer;
  color: var(--token-IQAnn5MeydGo);
  flex-shrink: 0;
}
.text__zLnT {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.e {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  text-align: center;
}
.freeBox__iRVws {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__qbMpH:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  margin: 8px;
}
.svg__mr41P {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__l2Rn8 {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__weD6 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  margin-right: 0px;
  height: 1em;
}
.deleteAccount:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  margin: 8px;
}
.svg__fjiFr {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text___6T4XP {
  white-space: pre;
  color: var(--token-uqUcyTUgvV0c);
  height: auto;
}
.svg__v61Ik {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.expandTab {
  width: 160px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 13px;
  padding-bottom: 13px;
  cursor: pointer;
  column-gap: 16px;
}
.svg__itDrT {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 22px;
  height: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__itDrT {
    display: block;
  }
}
.text___8Dkjd {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.mobileNavbarBottom:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileNavbarBottom:global(.__wab_instance) {
    width: 100%;
    left: 0;
    top: auto;
    z-index: 100;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 0;
    display: flex;
  }
}
