.annonces {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  background: #f4f4f4;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .annonces {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.mobileNavbarTop:global(.__wab_instance) {
  left: 0;
  top: 0;
  z-index: 10;
  position: fixed;
  width: 100%;
  right: 0;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileNavbarTop:global(.__wab_instance) {
    display: flex;
  }
}
.sidebar:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  bottom: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebar:global(.__wab_instance) {
    display: none;
  }
}
.main {
  height: 100%;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  row-gap: 32px;
  min-height: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 0;
    min-height: 0;
    padding: 80px 20px 99px;
  }
}
.h1 {
  display: block;
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.399999976158142;
  color: rgba(0, 0, 0, 1);
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    padding-top: 20px;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.annonces2 {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  align-content: flex-start;
  column-gap: 16px;
  row-gap: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .annonces2 {
    justify-content: flex-start;
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    column-gap: 0px;
    min-width: 0;
    margin: 0px;
  }
}
.freeBox__tceqD {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  flex-wrap: nowrap;
  align-content: stretch;
  column-gap: var(--token-cfon0PHiXQoL);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tceqD {
    justify-content: center;
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    left: auto;
    top: auto;
    width: 100%;
    column-gap: var(--token-cfon0PHiXQoL);
    row-gap: 0px;
    min-width: 0;
    margin: 0px;
  }
}
.likeJobCard:global(.__wab_instance) {
  max-width: 100%;
  width: 360px;
  height: 256px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .likeJobCard:global(.__wab_instance) {
    height: auto;
  }
}
.svg__t661R {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 311px;
  top: 22px;
  cursor: pointer;
  color: #ff6990;
  z-index: 5;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__t661R {
    left: auto;
    top: 25px;
    right: 50px;
  }
}
.jobCard:global(.__wab_instance) {
  object-fit: cover;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
  cursor: pointer;
  max-width: 400px;
  max-height: 400px;
  display: none;
  padding: 16px;
  border: 2px solid #ff6990;
}
@media (min-width: 0px) and (max-width: 768px) {
  .jobCard:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.noAnnonce {
  transform: scale(1.0000001192092896, 1.0000001192092896);
  height: 100%;
  display: flex;
  transform-origin: top left;
  position: relative;
  align-self: stretch;
  left: auto;
  top: auto;
  background: var(--token-uqUcyTUgvV0c);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 16px;
  min-height: 0;
  border-radius: 16px;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .noAnnonce {
    left: auto;
    top: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
    display: flex;
    padding: 32px;
  }
}
.featuredIcon2 {
  background: rgba(232, 255, 204, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(248, 248, 248, 1);
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 20px;
}
.svg___2X0X6 {
  object-fit: cover;
  color: #343330;
  height: 1em;
  display: block;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___2X0X6 {
    position: relative;
  }
}
.textAndSupportingText2 {
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: auto;
  row-gap: 16px;
}
.text6 {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(18, 17, 22, 1);
  align-self: auto;
  position: relative;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: auto;
}
.supportingText2 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
  position: relative;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__kG0N:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.svg__wQqIf {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__mpYVm {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
  cursor: pointer;
}
.svg__bPade {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  cursor: pointer;
  height: 1em;
}
.mobileNavbarBottom:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 10;
  position: fixed;
  right: 0;
  bottom: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileNavbarBottom:global(.__wab_instance) {
    display: flex;
  }
}
.modalDetailsJob:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .modalDetailsJob:global(.__wab_instance):global(.__wab_instance) {
    display: none;
  }
}
.img__uWdKp {
  object-fit: cover;
  max-width: 100%;
  width: 17px;
  height: 17px;
  display: block;
  position: relative;
  overflow: hidden;
  align-self: flex-end;
  cursor: pointer;
  margin: 20px 20px 0px 0px;
}
.img__uWdKp > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__uWdKp {
    display: block;
  }
}
.freeBox__rXpJf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 20px;
  padding-bottom: 64px;
  padding-right: 20px;
  width: 750px;
  row-gap: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rXpJf {
    width: 100%;
    min-width: 0;
  }
}
.jobDetail {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 8px;
}
.jobName {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-end;
  row-gap: 0px;
}
.text__wKtdo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  padding: 0px;
  margin: 0px;
}
.freeBox__qKbOh {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  min-width: 0;
}
.jobLocation {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  column-gap: 4px;
}
.svg__ndN {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__tPj94 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  min-width: 0;
}
.publicationDate {
  position: relative;
  text-align: right;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  color: var(--token-3qu294j6Zo_Y);
}
.frame46 {
  height: 66px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  column-gap: 10px;
  flex-shrink: 0;
  border-top: 1px solid var(--token-Ct2qLf9b3GVG);
  border-bottom: 1px solid var(--token-Ct2qLf9b3GVG);
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame46 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    row-gap: 10px;
    column-gap: 0px;
    min-width: 0;
    min-height: 0;
  }
}
.frame47 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 16px;
}
.frame48 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}
.svg__o6KW0 {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__c1Eel {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  min-width: 0;
}
.frame49 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
}
.svg__vBps1 {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__yaNfI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  min-width: 0;
}
.frame50 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
}
.svg___7Ggja {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__lUvyu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  min-width: 0;
}
.frame51 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
}
.svg__hLv75 {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__ofYah {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  min-width: 0;
}
.button___2QlzG:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___2QlzG:global(.__wab_instance):global(.__wab_instance) {
    width: 100%;
    min-width: 0;
    flex-shrink: 0;
  }
}
.svg__iHvra {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.svg__kQa7C {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.appliedBtn {
  background: rgba(0, 36, 0, 1);
  width: auto;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  border-radius: 8px;
  padding: 4px 12px 4px 8px;
}
.svg___3QAXy {
  object-fit: cover;
  max-width: 100%;
  color: #f4f4f4;
  width: 14.329999923706055px;
  height: 14.329999923706055px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__tj2Ed {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.06em;
  line-height: 100%;
  color: rgba(244, 244, 244, 1);
  position: relative;
}
.frame53 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}
.svg__ze8B {
  object-fit: cover;
  max-width: 100%;
  color: #c8c8c8;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ze8B {
    display: block;
  }
}
.svg___7Yng {
  object-fit: cover;
  max-width: 100%;
  color: #c8c8c8;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___7Yng {
    display: block;
  }
}
.jobDescriptionContainer {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 16px;
}
.text__oImH1 {
  display: block;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(5, 5, 5, 1);
  align-self: stretch;
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.jobDescription {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  min-width: 0;
}
.benefits {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  column-gap: 16px;
  row-gap: 8px;
}
.text__my5Hr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #f4ffe6;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--token-tUlf7BrDP8BN);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 8px;
  padding: 2px 8px;
}
.expectedProfileContainer {
  height: auto;
  display: flex;
  position: relative;
  align-self: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 16px;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: var(--token-Ct2qLf9b3GVG);
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
  transition-property: all;
  transition-duration: 1s;
  width: 100%;
  row-gap: 16px;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-width: 1px;
}
.text__gJlu0 {
  display: block;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.25;
  color: rgba(0, 0, 0, 1);
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.expectedProfile {
  position: relative;
  width: auto;
  height: auto;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 130%;
}
.company {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 16px;
  row-gap: 13px;
  border-top: 1px solid var(--token-Ct2qLf9b3GVG);
}
.freeBox__pmIza {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  align-self: stretch;
  min-width: 0;
  padding: 0px;
}
.text__lVtVz {
  display: block;
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.25;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.companyLogo {
  object-fit: cover;
  width: 100px;
  height: auto;
  flex-shrink: 0;
}
.companyLogo > picture > img {
  object-fit: cover;
}
.frame58 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 4px;
}
.companyName {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.companyDetail {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
.sectorActivity {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
}
.svg__xehZu {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 12px;
  height: 12px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__l3F6S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  min-width: 0;
}
.companySize {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
}
.svg__f4Y8V {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 12px;
  height: 12px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__eLbN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  min-width: 0;
}
.companyLocation {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}
.svg__cZnOn {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 14px;
  height: 14px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__hgWgt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  min-width: 0;
}
.companyDescription {
  position: relative;
  width: auto;
  height: auto;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 130%;
}
.modal2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .modal2:global(.__wab_instance):global(.__wab_instance) {
    display: none;
  }
}
.img__sQ9Iq {
  object-fit: cover;
  max-width: 100%;
  width: 17px;
  height: 17px;
  display: block;
  position: relative;
  overflow: hidden;
  align-self: flex-end;
  cursor: pointer;
  margin: 24px;
}
.img__sQ9Iq > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__sQ9Iq {
    display: block;
  }
}
.freeBox__r2706 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 780px;
  height: auto;
  overflow: visible;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r2706 {
    width: 100%;
    min-width: 0;
  }
}
.header2 {
  background: none;
  height: auto;
  display: flex;
  position: relative;
  align-self: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: visible;
  left: auto;
  top: auto;
  z-index: 1;
  flex-shrink: 0;
  row-gap: 8px;
  min-width: 0;
  border-radius: 16px;
}
.frame67 {
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
  align-content: flex-end;
  row-gap: 0px;
  min-height: 0;
}
.frame68 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 8px;
  padding: 0px;
  margin: 0px;
}
.text__rs7KC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  left: auto;
  top: auto;
  white-space: pre;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.frame70 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
}
.svg__jzzlO {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__lfEI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  min-width: 0;
}
.text__aLkg {
  position: relative;
  text-align: right;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  color: var(--token-3qu294j6Zo_Y);
}
.frame74 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  column-gap: 10px;
  border-top: 1px solid var(--token-d-0gEGbakN0M);
  border-bottom: 1px solid var(--token-d-0gEGbakN0M);
}
.frame75 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 16px;
  row-gap: 16px;
}
.frame76 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}
.svg___7Hlko {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text___6Gw9F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  min-width: 0;
}
.frame77 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}
.svg__daMKt {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__mcSwt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  min-width: 0;
}
.frame16 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}
.svg__hfRTl {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__gShvf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  min-width: 0;
}
.frame17 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}
.svg___7Dq3X {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 20.06779670715332px;
  height: 20.06779670715332px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__a9SaX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  min-width: 0;
}
.frame18 {
  display: flex;
  position: relative;
  align-self: auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  column-gap: 13px;
  min-width: 0;
}
.frame78 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
}
.frame79 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 4px;
}
.text___6ZJi6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.frame80 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 8px;
}
.frame81 {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
}
.svg___6NcEy {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: auto;
  height: 12px;
  display: block;
  position: relative;
  overflow: hidden;
}
.text__y92D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  min-width: 0;
}
.frame82 {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
}
.svg___4I6Vy {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: auto;
  height: 12px;
  display: block;
  position: relative;
  overflow: hidden;
}
.text___01DF4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  min-width: 0;
}
.frame83 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}
.frame84 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 2px;
}
.svg__lMags {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 14px;
  height: 14px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__m52K5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  min-width: 0;
}
.frame85 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 10px;
}
.img__j7AdV {
  object-fit: cover;
  width: 150px;
  height: 55px;
  flex-shrink: 0;
}
.img__j7AdV > picture > img {
  object-fit: cover;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  object-fit: cover;
  min-width: 0;
}
.freeBox___2A6UX {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.upload2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  text-align: center;
}
.img__wlCyn {
  object-fit: cover;
  max-width: 100%;
  width: 132px;
  height: 132px;
  display: block;
  position: relative;
  border-radius: 100px;
}
.img__wlCyn > picture > img {
  object-fit: cover;
}
.freeBox__qpDsR {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  top: 108px;
  left: 0px;
  right: 0px;
  column-gap: 40px;
}
.editIcon2 {
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.frame19 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(200, 200, 200, 1);
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  overflow: hidden;
  left: auto;
  top: auto;
  cursor: pointer;
  border-radius: 100px;
}
.svg___1MfPz {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 21px;
  height: 21px;
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  overflow: hidden;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.deleteIcon2 {
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  left: auto;
  top: auto;
  cursor: pointer;
  flex-shrink: 0;
}
.frame20 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(200, 200, 200, 1);
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: auto;
  left: auto;
  overflow: hidden;
  cursor: pointer;
  border-radius: 100px;
}
.svg__q5OKk {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  overflow: hidden;
  cursor: pointer;
}
.nomPrenom {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 16px;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px;
}
.formField__reDhu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  margin: 0px;
}
.text__pxvbH {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.textInput1:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: 100%;
}
.formField__s4OTk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  margin: 0px;
}
.text__jryR {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.textInput2:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: 100%;
}
.formField__dKNuc:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__wjlL {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.textInput4:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: 100%;
}
.telephone {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  column-gap: var(--token-PKf5XaFatup3);
  min-width: 0;
  padding: 0px;
}
.formField__dyWm4:global(.__wab_instance) {
  width: auto;
  margin-bottom: 19px;
}
.text__orwfl {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.phoneSelector:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.formField__hjXXr:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 19px;
  min-width: 0;
}
.text__avVsh {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  display: none;
}
.textInput3:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: 100%;
}
.formField___8J4Gu:global(.__wab_instance) {
  width: 100%;
  padding-bottom: 8px;
  color: var(--token-OIYWLyLPYWym);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  min-width: 0;
  margin: 0px;
}
.rue:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: 100%;
}
.codePosteVille {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px 0px 8px;
  margin: 0px;
}
.formField__aA0L:global(.__wab_instance) {
  width: 40%;
  color: var(--token-OIYWLyLPYWym);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  margin: 0px;
}
.codePostal:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: 100%;
}
.formField__e91Zx:global(.__wab_instance) {
  width: 60%;
  color: var(--token-OIYWLyLPYWym);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  margin: 0px;
}
.ville:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: 100%;
}
.freeBox__rhZlq {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
  display: none;
  padding: 0px;
}
.textInput5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.select2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
.menuSection__nDdIl:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__exRQv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.formField__t6BZ4:global(.__wab_instance) {
  color: var(--token-OIYWLyLPYWym);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  width: 100%;
  min-width: 0;
}
.select4:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: 100%;
}
.menuItem__k70Nc:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.svg__edx1G {
  object-fit: cover;
  max-width: 100%;
  color: #f4f4f4;
  transform: none;
  height: 1px;
  display: block;
  transform-origin: top left;
  width: 100%;
  min-width: 0;
  margin: 24px 0px;
  border-width: 1px;
}
.formField__axNyR:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.select3:global(.__wab_instance) {
  color: var(--token-qVvTulujfE86);
  height: 100%;
  min-height: 48px;
  display: flex;
  font-size: 16px;
  flex-direction: column;
  row-gap: 0px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 16px;
  border: 1px solid var(--token-d-0gEGbakN0M);
}
.text__mGebR {
  color: #535353;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.formField__ePjz3:global(.__wab_instance) {
  width: 100%;
  margin-top: 0px;
  min-width: 0;
}
.freeBox__gruOh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.text__h4Srf {
  font-size: 12px;
}
.textAreaInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: 100px;
}
.formField__fe2OV:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__zzdNz {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.select7:global(.__wab_instance) {
  object-fit: cover;
  width: 100%;
  height: 48px;
  min-width: 0;
}
.freeBox__iWnQ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  column-gap: 8px;
  min-width: 0;
}
.svg__k3YsR {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ceD1eQOG2geq);
  height: 1em;
}
.text__sGY4 {
  color: var(--token-vE7ENHhK130K);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.formField__m6NTd:global(.__wab_instance) {
  width: 100%;
  color: var(--token-OIYWLyLPYWym);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  min-width: 0;
}
.text__xBkHn {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.select5:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: 100%;
}
.freeBox__zt1XJ {
  transform: scale(1.0000001192092896, 1.0000001192092896);
  display: flex;
  transform-origin: top left;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--token-uqUcyTUgvV0c);
  column-gap: 32px;
  min-width: 0;
  border-radius: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zt1XJ {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    column-gap: 0px;
  }
}
.frame14 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.email4 {
  display: block;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(5, 5, 5, 1);
  align-self: auto;
  position: relative;
  width: auto;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.cvUpload {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  background: var(--token-fwxLR9vc1krL);
  height: 136px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid var(--token-d-0gEGbakN0M);
}
@media (min-width: 0px) and (max-width: 768px) {
  .cvUpload {
    width: auto;
  }
}
.svg__jVd84 {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 36px;
  margin-right: 26px;
  margin-top: 12px;
  cursor: pointer;
  flex-shrink: 0;
}
.content5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: -14px;
  min-width: 0;
  padding: 0px;
}
.img__fOUne {
  object-fit: cover;
  max-width: 100%;
  width: 39px;
  height: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  left: auto;
  top: auto;
  align-self: auto;
  row-gap: 10px;
  flex-shrink: 0;
  border-radius: 99px;
  padding: 8px;
}
.img__fOUne > picture > img {
  object-fit: cover;
}
.text__nk258 {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-nuB3vbLUeNHj);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.fileUploader3 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  background: var(--token-Ct2qLf9b3GVG);
  height: 136px;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fileUploader3 {
    width: 100%;
    min-width: 0;
  }
}
.upload:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  text-align: center;
  align-self: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  padding: 8px;
  border: 1px solid var(--token-d-0gEGbakN0M);
}
@media (min-width: 0px) and (max-width: 768px) {
  .upload:global(.__wab_instance) {
    width: auto;
  }
}
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.img__qKqHr {
  object-fit: cover;
  max-width: 100%;
  width: 39px;
  height: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  flex-shrink: 0;
  border-radius: 99px;
  padding: 8px;
}
.img__qKqHr > picture > img {
  object-fit: cover;
}
.text___0SmYt {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-nuB3vbLUeNHj);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__v6TdO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-aTF8aD7JPbTj);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.frame15 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.email5 {
  display: block;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(5, 5, 5, 1);
  align-self: auto;
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.cvUpload2 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  background: var(--token-fwxLR9vc1krL);
  height: 136px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid var(--token-d-0gEGbakN0M);
}
@media (min-width: 0px) and (max-width: 768px) {
  .cvUpload2 {
    width: auto;
  }
}
.svg__pqJhb {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 36px;
  margin-right: 26px;
  margin-top: 12px;
  cursor: pointer;
  flex-shrink: 0;
}
.content6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: -14px;
  min-width: 0;
  padding: 0px;
}
.img__jNm3Y {
  object-fit: cover;
  max-width: 100%;
  width: 39px;
  height: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  left: auto;
  top: auto;
  align-self: auto;
  row-gap: 10px;
  flex-shrink: 0;
  border-radius: 99px;
  padding: 8px;
}
.img__jNm3Y > picture > img {
  object-fit: cover;
}
.text__jjIn4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-nuB3vbLUeNHj);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.fileUploader4 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  background: var(--token-Ct2qLf9b3GVG);
  height: 136px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid var(--token-d-0gEGbakN0M);
}
@media (min-width: 0px) and (max-width: 768px) {
  .fileUploader4 {
    width: auto;
  }
}
.upload3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  text-align: center;
  align-self: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__uGk76 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.img__bb4Yp {
  object-fit: cover;
  max-width: 100%;
  width: 39px;
  height: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  flex-shrink: 0;
  border-radius: 99px;
  padding: 8px;
}
.img__bb4Yp > picture > img {
  object-fit: cover;
}
.text__fg56A {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-nuB3vbLUeNHj);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__alvEu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-aTF8aD7JPbTj);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.frame92 {
  width: 100%;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 32px;
  min-width: 0;
  display: none;
}
.frame93 {
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: auto;
  row-gap: 10px;
}
.email3 {
  display: block;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(5, 5, 5, 1);
  align-self: stretch;
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.fileUploader:global(.__wab_instance) {
  position: relative;
  align-self: auto;
  width: auto;
}
.frame94 {
  display: flex;
  position: relative;
  align-self: auto;
  flex-grow: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: auto;
  row-gap: 10px;
}
.email2 {
  display: block;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(5, 5, 5, 1);
  align-self: stretch;
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.fileUploader2:global(.__wab_instance) {
  width: 100%;
  position: relative;
  min-width: 0;
}
.formField__uOtGr:global(.__wab_instance) {
  width: 100%;
  height: 95px;
  margin-top: 8px;
  min-width: 0;
}
.text__gJTnz {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.textInput6:global(.__wab_instance):global(.__wab_instance) {
  height: 100%;
  min-height: 48px;
  max-width: 100%;
}
.button__ka1Ow:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__ryj71 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.svg__lyCcn {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
