.root:global(.__wab_instance) {
  color: var(--token-uqUcyTUgvV0c);
  display: flex;
  position: relative;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0px;
  padding: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-UY9kPePLUyPt);
  outline-offset: 1px;
  outline-color: var(--token--V1yrEhoM54H);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  display: flex;
  flex-direction: row;
  row-gap: 0px;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: none;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding: 0px;
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-imsJTMxLHqiB);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-F3L424YbQ3i4);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-cq5K3d22gWtV);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-IQAnn5MeydGo);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.roottype_actif:global(.__wab_instance) {
  color: var(--token-XkcIRFBUIQDs);
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-SUsZgSMpfzVV);
  font-size: var(--token-kJyGp0Dc5L5n);
  column-gap: var(--token-UY9kPePLUyPt);
  row-gap: 0px;
  border-radius: var(--token-BY_Q0dspL3Z5);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-kJyGp0Dc5L5n);
  line-height: var(--token-SUsZgSMpfzVV);
  column-gap: var(--token-BY_Q0dspL3Z5);
  row-gap: 0px;
  border-radius: var(--token-BY_Q0dspL3Z5);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-JJChWPPhfZHS);
  line-height: var(--token-ZTnFSm4TIlCF);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-JJChWPPhfZHS);
  line-height: var(--token-ZTnFSm4TIlCF);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-ynHHyUnMXQNp);
  border-radius: var(--token-3vHL5jnFZTmZ);
}
.root[data-disabled] .softBackground {
  display: block;
}
.softBackgroundcolor_neutral {
  background: var(--token-tWQ63f0NkYS8);
}
.softBackgroundcolor_muted {
  background: var(--token-2WBfCSZKGd3h);
}
.softBackgroundcolor_success {
  background: var(--token-XJXhy7PR_z3G);
}
.softBackgroundcolor_warning {
  background: var(--token-TDDRkhzb6bbC);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-o4aW-UEuYVU4);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-3vHL5jnFZTmZ);
  border: 0px solid var(--token-ueS_4VuJJaiW);
}
.root[data-disabled] .border {
  display: block;
}
.bordercolor_neutral {
  border-color: var(--token-i_V0Y-DBiYvw);
}
.bordercolor_muted {
  border-color: var(--token-N4ItCHu287AS);
}
.bordercolor_success {
  border-color: var(--token-eppNlIZlPfr7);
}
.bordercolor_warning {
  border-color: var(--token-u2H6QsXT0tR3);
}
.bordercolor_errorDestructive {
  border-color: var(--token-6AA0KBhuHm-X);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.freeBox__xw9Ld {
  display: flex;
}
.freeBox__xw9Ld > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
}
.freeBoxcolor_neutral__xw9LdRe9UA > :global(.__wab_flex-container) {
  justify-content: flex-start;
  align-items: center;
}
.freeBoxsize_extraSmall__xw9Ld7R14 {
  padding: var(--token-BY_Q0dspL3Z5) var(--token-3vHL5jnFZTmZ);
}
.freeBoxsize_small__xw9LdhRuW0 {
  padding: var(--token-3vHL5jnFZTmZ) var(--token-59Hq8h0iWXrB);
}
.freeBoxsize_large__xw9LdmyMuu {
  padding-top: var(--token-BY_Q0dspL3Z5);
  padding-bottom: var(--token-BY_Q0dspL3Z5);
}
.freeBoxsize_extraLarge__xw9LdMQrmH {
  padding-left: var(--token-nKoNI3RzPDCD);
  padding-right: var(--token-nKoNI3RzPDCD);
}
.freeBoxiconStart__xw9LdspdJ > :global(.__wab_flex-container) {
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxiconStart__xw9LdspdJ > :global(.__wab_flex-container) > *,
.freeBoxiconStart__xw9LdspdJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxiconStart__xw9LdspdJ > :global(.__wab_flex-container) > picture > img,
.freeBoxiconStart__xw9LdspdJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.freeBoxiconEnd__xw9LdzuYnl > :global(.__wab_flex-container) {
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxiconEnd__xw9LdzuYnl > :global(.__wab_flex-container) > *,
.freeBoxiconEnd__xw9LdzuYnl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxiconEnd__xw9LdzuYnl > :global(.__wab_flex-container) > picture > img,
.freeBoxiconEnd__xw9LdzuYnl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.freeBoxroundedFull__xw9LdVmEjJ {
  padding-right: var(--token-nKoNI3RzPDCD);
  padding-left: var(--token-nKoNI3RzPDCD);
}
.freeBox__wQusA {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 100px;
  padding: 4px;
}
.root[data-hovered] .slotTargetStart {
  color: var(--token-XkcIRFBUIQDs);
}
.slotTargetStartcolor_neutral {
  color: var(--token-MqZ3sYlfZ07n);
}
.slotTargetStartcolor_muted {
  color: var(--token-y6fK-UOz-dGH);
}
.slotTargetStartcolor_success {
  color: var(--token-MTwpjHCCR5XQ);
}
.slotTargetStartcolor_warning {
  color: var(--token-CqwqDg6mm2Rp);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-d7xQfDFpXeNO);
}
.slotTargetStarttype_soft {
  color: var(--token-DSLgD-95Qw2O);
}
.slotTargetStarttype_bordered {
  color: var(--token-DSLgD-95Qw2O);
}
.slotTargetStarttype_actif {
  color: var(--token-XkcIRFBUIQDs);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-kJyGp0Dc5L5n);
}
.slotTargetStartsize_small {
  font-size: var(--token-kJyGp0Dc5L5n);
}
.slotTargetStartsize_large {
  font-size: var(--token-JJChWPPhfZHS);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-JJChWPPhfZHS);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-Qaluro99C1Z2);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-Qaluro99C1Z2);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-_Hh3Ry6vaJNA);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-_Hh3Ry6vaJNA);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-npCVKKop52sN);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-npCVKKop52sN);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-Mu3oSmFklXBV);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-Mu3oSmFklXBV);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-nHr7X1Z2gUuB);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-nHr7X1Z2gUuB);
}
.svg__utdIi {
  position: relative;
  width: 24px;
  height: 1em;
  flex-shrink: 0;
}
.root[data-hovered] .slotTargetLabel {
  color: var(--token-XkcIRFBUIQDs);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-MqZ3sYlfZ07n);
}
.slotTargetLabelcolor_muted {
  color: var(--token-y6fK-UOz-dGH);
}
.slotTargetLabelcolor_success {
  color: var(--token-MTwpjHCCR5XQ);
}
.slotTargetLabelcolor_warning {
  color: var(--token-CqwqDg6mm2Rp);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-d7xQfDFpXeNO);
}
.slotTargetLabeltype_soft {
  color: var(--token-DSLgD-95Qw2O);
}
.slotTargetLabeltype_bordered {
  color: var(--token-DSLgD-95Qw2O);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-Qaluro99C1Z2);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-_Hh3Ry6vaJNA);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-Qaluro99C1Z2);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-npCVKKop52sN);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-_Hh3Ry6vaJNA);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-Mu3oSmFklXBV);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-npCVKKop52sN);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-nHr7X1Z2gUuB);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-Mu3oSmFklXBV);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-nHr7X1Z2gUuB);
}
.text__hoa2Q {
  white-space: pre;
}
.freeBox__aavnn {
  flex-direction: column;
  flex-shrink: 0;
  background: var(--token-uqUcyTUgvV0c);
  align-items: center;
  justify-content: center;
  display: none;
  border-radius: 100px;
  padding: 4px;
}
.freeBoxiconEnd__aavnnzuYnl {
  display: flex;
}
.slotTargetEndcolor_neutral {
  color: var(--token-MqZ3sYlfZ07n);
}
.slotTargetEndcolor_muted {
  color: var(--token-y6fK-UOz-dGH);
}
.slotTargetEndcolor_success {
  color: var(--token-MTwpjHCCR5XQ);
}
.slotTargetEndcolor_warning {
  color: var(--token-CqwqDg6mm2Rp);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-d7xQfDFpXeNO);
}
.slotTargetEndtype_soft {
  color: var(--token-DSLgD-95Qw2O);
}
.slotTargetEndtype_bordered {
  color: var(--token-DSLgD-95Qw2O);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-kJyGp0Dc5L5n);
}
.slotTargetEndsize_small {
  font-size: var(--token-kJyGp0Dc5L5n);
}
.slotTargetEndsize_large {
  font-size: var(--token-JJChWPPhfZHS);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-JJChWPPhfZHS);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-Qaluro99C1Z2);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-Qaluro99C1Z2);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-_Hh3Ry6vaJNA);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-_Hh3Ry6vaJNA);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-npCVKKop52sN);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-npCVKKop52sN);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-Mu3oSmFklXBV);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-Mu3oSmFklXBV);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-nHr7X1Z2gUuB);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-nHr7X1Z2gUuB);
}
.svg__alIi8 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
  flex-shrink: 0;
}
