.frame1437253913 {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--token-KO-_a_AX48hg);
  position: relative;
  row-gap: 5px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437253913 {
    color: var(--token-OIYWLyLPYWym);
  }
}
.frame22 {
  background: var(--token-uqUcyTUgvV0c);
  width: 50px;
  height: 3px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 2.884615421295166px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uqUcyTUgvV0c);
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svgtype_actif {
  color: var(--token-XkcIRFBUIQDs);
}
.text {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: var(--token-uqUcyTUgvV0c);
  position: relative;
}
.texttype_actif {
  color: var(--token-XkcIRFBUIQDs);
}
.ariaButton:global(.__wab_instance) {
  color: #002400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 0px;
  position: relative;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background: var(--token-ctGtle1XR2Yc);
  text-transform: uppercase;
  border-radius: 16px;
  padding: 12px 24px;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-ynHHyUnMXQNp);
  border-radius: var(--token-3vHL5jnFZTmZ);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-3vHL5jnFZTmZ);
  border: 0px solid var(--token-ueS_4VuJJaiW);
}
.freeBox__lxS8Q {
  display: flex;
  justify-content: center;
  align-items: center;
}
.freeBox__rPbpd {
  flex-direction: column;
  flex-shrink: 0;
  background: var(--token-uqUcyTUgvV0c);
  display: none;
  border-radius: 100px;
  padding: 4px;
}
.svg__bG5T {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
  flex-shrink: 0;
}
.text__ecO44 {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.freeBox__qP0AI {
  flex-direction: column;
  flex-shrink: 0;
  background: var(--token-uqUcyTUgvV0c);
  align-items: center;
  justify-content: center;
  display: none;
  border-radius: 100px;
  padding: 4px;
}
.svg__rTtBv {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
  flex-shrink: 0;
}
