.sidebarMenu {
  background: rgba(0, 0, 0, 1);
  width: 20%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
  padding: 60px 24px;
}
.sidebarMenu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 60px);
  height: calc(100% + 60px);
}
.sidebarMenu > :global(.__wab_flex-container) > *,
.sidebarMenu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sidebarMenu > :global(.__wab_flex-container) > picture > img,
.sidebarMenu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebarMenu {
    display: none;
  }
}
.logoWrapper {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  cursor: pointer;
  color: #0070f3;
  left: auto;
  top: auto;
}
.logoWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10.751590728759766px);
  height: calc(100% + 10.751590728759766px);
}
.logoWrapper > :global(.__wab_flex-container) > *,
.logoWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logoWrapper > :global(.__wab_flex-container) > picture > img,
.logoWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10.751590728759766px;
}
.svg__yMlTr {
  object-fit: cover;
  max-width: 100%;
  color: #bafe68;
  width: auto;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__l0NE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 600;
  left: auto;
  top: auto;
  min-width: 0;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  top: auto;
  left: auto;
  z-index: 1;
  align-self: stretch;
  min-height: 0;
  padding: 8px;
}
.links {
  height: auto;
  display: flex;
  flex-direction: column;
  width: auto;
  flex-shrink: 0;
  padding: 0px;
}
.links > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 35px);
  height: calc(100% + 35px);
}
.links > :global(.__wab_flex-container) > *,
.links > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.links > :global(.__wab_flex-container) > picture > img,
.links > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 35px;
}
.sideBarButton__jyXwc:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.svg__wuYr6 {
  position: relative;
  width: 20px;
  height: 20px;
}
.text__kMw76 {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.svg__fo2Bj {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.sideBarButton__pWwEp:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.svg__h9Jbo {
  position: relative;
  width: 20px;
  height: 20px;
}
.text___6OKs7 {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.svg__kc6Fg {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.sideBarButton__fc1Tq:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: calc(-13px + 35px) !important;
  margin-left: 25px;
}
.text__jWgPf {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  text-transform: none;
}
.svg__gec7P {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.sideBarButton__uR4SC:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: calc(-25px + 35px) !important;
  margin-left: 25px;
}
.text__xm60R {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  text-transform: none;
}
.svg__i5Bze {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.disconnectButton {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
  padding: 0px;
}
.disconnectButton > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.disconnectButton > :global(.__wab_flex-container) > *,
.disconnectButton > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.disconnectButton > :global(.__wab_flex-container) > picture > img,
.disconnectButton
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.svg__axZiy {
  object-fit: cover;
  max-width: 100%;
  color: #bafe68;
  width: 22px;
  height: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.link {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(241, 241, 241, 1);
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0.02em;
  cursor: pointer;
  display: none;
}
.sideBarButton__qP950:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.svg__xAiH7 {
  position: relative;
  width: 20px;
  height: 20px;
}
.text__pfiIa {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.svg__cbKRr {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
