.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  row-gap: 64px;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 70px 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    height: auto;
    padding: 0px;
  }
}
.container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    column-gap: 0px;
    padding: 70px 20px 0px;
  }
}
.column {
  display: flex;
  position: relative;
  align-self: flex-start;
  flex-grow: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  flex-shrink: 0;
  row-gap: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.frame6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #bafe68;
  transform: scale(0.9999999403953552, 0.9999999403953552);
  width: 56px;
  height: 55px;
  display: block;
  transform-origin: top left;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.frame7 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame9 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 3.0913097858428955px;
  padding-right: 3.0913097858428955px;
}
.text___7OzlH {
  display: block;
  font-size: 18.54785919189453px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame11 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 3.0913097858428955px;
  padding-right: 3.0913097858428955px;
  border-radius: 38.64137268066406px;
}
.text__re0Ij {
  display: block;
  font-size: 18.54785919189453px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-left: 3.0913097858428955px;
  padding-right: 3.0913097858428955px;
}
.text__bo1E5 {
  display: block;
  font-size: 18.54785919189453px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.text___2N5Mx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #909090;
  align-self: auto;
  text-align: center;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  width: 176px;
  height: 40px;
  flex-shrink: 0;
}
.button2employeur:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2employeur:global(.__wab_instance):global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__aiPkp {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__zcrny {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.textemployeur__zcrnyF93K9 {
  height: auto;
}
.svg__nUHbg {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  margin-right: 0px;
  height: 1em;
}
.footerLinksContainer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 62px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerLinksContainer {
    display: flex;
    flex-direction: column-reverse;
    row-gap: var(--token-gzhQ56cI3Art);
    column-gap: 0px;
  }
}
.button:global(.__wab_instance):global(.__wab_instance) {
  width: 176px;
  height: 40px;
  flex-shrink: 0;
}
.buttonemployeur:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.svg__nxUb {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__k1QQv {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.svg__cZi4J {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  margin-right: 0px;
  height: 1em;
}
.footerLinksContainer2 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerLinksContainer2 {
    display: flex;
    flex-direction: row;
    row-gap: 0px;
  }
}
.footerLinksColumn {
  width: 238px;
  height: auto;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 16px;
  flex-shrink: 0;
  display: none;
}
.footerLinksColumnemployeur {
  display: flex;
}
.heading5 {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(153, 153, 153, 1);
  align-self: stretch;
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  display: none;
}
.heading5employeur {
  display: block;
}
.freeBox__d3FZz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.link__nQqj5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #dddddd;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  display: none;
}
.linkemployeur__nQqj5F93K9 {
  font-family: "DM Sans", sans-serif;
  font-size: var(--token-aRuWp9ICGc-Q);
  display: block;
}
.link__qCzS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d0d0d0;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.linkemployeur__qCzSf93K9 {
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
}
.link__e2AcH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d0d0d0;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.linkemployeur__e2AcHf93K9 {
  font-family: "DM Sans", sans-serif;
  font-size: var(--token-aRuWp9ICGc-Q);
}
.jamSocialAccounts__rpi9S:global(.__wab_instance) {
  max-width: 100%;
}
.footerLinksColumn2 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerLinksColumn2employeur {
    display: none;
  }
}
.heading6 {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(153, 153, 153, 1);
  align-self: stretch;
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  display: none;
}
.heading6employeur {
  display: block;
}
.freeBox___8QKcF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8QKcF {
    display: none;
  }
}
.link___3M5Nc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d0d0d0;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text__h2DmA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d0d0d0;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.link__aeWed {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d0d0d0;
  margin-top: 0px;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.jamSocialAccounts__bNovp:global(.__wab_instance) {
  position: relative;
}
.jamSocialAccountsemployeur__bNovpF93K9:global(.__wab_instance) {
  display: none;
}
.container2 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 32px;
  padding-right: 32px;
  row-gap: 32px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container2 {
    align-items: center;
    justify-content: flex-start;
    padding: 0px 20px 32px;
  }
}
.footerLinksMobile {
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 0px;
  column-gap: 15px;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerLinksMobile {
    display: flex;
  }
}
.link__t2B6C {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #909090;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-size: var(--token-aRuWp9ICGc-Q);
}
@media (min-width: 0px) and (max-width: 768px) {
  .linkemployeur__t2B6CF93K9 {
    font-size: var(--token-aRuWp9ICGc-Q);
  }
}
.link__gcbtg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #909090;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-size: var(--token-aRuWp9ICGc-Q);
}
.link__hVnQ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #909090;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-size: var(--token-aRuWp9ICGc-Q);
}
.divider {
  background: rgba(39, 40, 36, 1);
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.content2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footerText {
  display: block;
  font-size: var(--token-aRuWp9ICGc-Q);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(144, 144, 144, 1);
  position: relative;
}
