.parametresDeCompte {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f4f4f4;
  min-width: 0;
  min-height: 0;
}
.slidebar:global(.__wab_instance) {
  max-width: 100%;
}
.main {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: column;
  flex-shrink: 0;
  width: 80%;
  padding: 64px;
}
.main > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.main > :global(.__wab_flex-container) > *,
.main > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.main > :global(.__wab_flex-container) > picture > img,
.main > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .main > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.title {
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-start;
  flex-direction: row;
  padding-left: 16px;
  padding-right: 16px;
  width: auto;
}
.title > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.title > :global(.__wab_flex-container) > *,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title > :global(.__wab_flex-container) > picture > img,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.heading {
  display: block;
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.399999976158142;
  color: rgba(0, 0, 0, 1);
  position: relative;
  left: auto;
  top: auto;
}
.container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: 0;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.informationsPersonnelles {
  width: 50%;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  border-radius: 24px;
  padding: 32px;
}
.frame1437254343 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame1437254343 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame1437254343 > :global(.__wab_flex-container) > *,
.frame1437254343 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1437254343 > :global(.__wab_flex-container) > picture > img,
.frame1437254343
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.frame5 {
  transform: scale(1.0000001192092896, 1.0000001192092896);
  width: auto;
  height: auto;
  display: flex;
  transform-origin: top left;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
}
.frame5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame5 > :global(.__wab_flex-container) > *,
.frame5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame5 > :global(.__wab_flex-container) > picture > img,
.frame5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.frame6 {
  width: 132px;
  height: 132px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 132px;
  height: 132px;
  display: block !important;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img > picture > img {
  object-fit: cover;
}
.editIcon {
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.frame7 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(200, 200, 200, 1);
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  border-radius: 100px;
}
.svg___5XUxq {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 21px;
  height: 21px;
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.deleteIcon {
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.frame8 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(200, 200, 200, 1);
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  border-radius: 100px;
}
.svg__rF5F {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  overflow: hidden;
}
.tableCell {
  transform: scale(1.0000001192092896, 1.0000001192092896);
  width: auto;
  height: 31px;
  display: flex;
  transform-origin: top left;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  flex-shrink: 0;
  padding: 16px 24px;
}
.tableCell > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.tableCell > :global(.__wab_flex-container) > *,
.tableCell > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tableCell > :global(.__wab_flex-container) > picture > img,
.tableCell
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg__zvZto {
  object-fit: cover;
  max-width: 100%;
  color: #343330;
  width: 32px;
  height: 32px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text6 {
  display: block;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(26, 26, 26, 1);
  position: relative;
}
.textInputBase6 {
  transform: scale(1.0000001192092896, 1.0000001192092896);
  width: 366px;
  height: auto;
  display: flex;
  transform-origin: top left;
  position: relative;
  flex-direction: column;
  left: auto;
  top: auto;
}
.textInputBase6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.textInputBase6 > :global(.__wab_flex-container) > *,
.textInputBase6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.textInputBase6 > :global(.__wab_flex-container) > picture > img,
.textInputBase6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.hintText6 {
  display: block;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(77, 77, 77, 1);
  align-self: stretch;
  position: relative;
}
.formulaire:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.prenomNom {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  flex-shrink: 0;
  min-width: 0;
  padding: 0px;
}
.prenomNom > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.prenomNom > :global(.__wab_flex-container) > *,
.prenomNom > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.prenomNom > :global(.__wab_flex-container) > picture > img,
.prenomNom
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.formField__gu1TP:global(.__wab_instance) {
  width: 50%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
}
.firstName:global(.__wab_instance):global(.__wab_instance) {
  max-width: none;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.formField___4ZPYl:global(.__wab_instance) {
  width: 50%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
}
.lastName:global(.__wab_instance):global(.__wab_instance) {
  max-width: none;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.formField__y2STw:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textInput3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.telephone {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.telephone > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-PKf5XaFatup3));
  width: calc(100% + var(--token-PKf5XaFatup3));
}
.telephone > :global(.__wab_flex-container) > *,
.telephone > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.telephone > :global(.__wab_flex-container) > picture > img,
.telephone
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-PKf5XaFatup3);
}
.formField___8YUuA:global(.__wab_instance) {
  width: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: calc(0px + var(--token-PKf5XaFatup3)) !important;
}
.phoneSelector:global(.__wab_instance) {
  object-fit: cover;
  display: flex;
  flex-direction: row;
  width: auto;
}
.formField__qgKq5:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: calc(0px + var(--token-PKf5XaFatup3)) !important;
  min-width: 0;
}
.phoneNumber2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.formField__cAjBw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.rue:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.codePostalVille {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 10px 0px 0px;
  margin: 0px;
}
.codePostalVille > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.codePostalVille > :global(.__wab_flex-container) > *,
.codePostalVille > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.codePostalVille > :global(.__wab_flex-container) > picture > img,
.codePostalVille
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.codePostal:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
  width: 50%;
}
.select:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 50%;
}
.menuSection__hXEtH:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__rtnyO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.pays:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  margin-top: 10px;
}
.formField___2RAap:global(.__wab_instance) {
  width: 100%;
  height: 158px;
  min-width: 0;
  margin: 0px;
}
.textArea:global(.__wab_instance) {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  object-fit: cover;
  align-self: stretch;
  position: relative;
  min-height: 0;
}
.formField__vl74:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.niveauExperience:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.menuSection___6UqWg:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__gYjnb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.formField__vvnjx:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textInput4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___9JNbd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.cvModificationDuMdp {
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 0;
}
.cvModificationDuMdp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.cvModificationDuMdp > :global(.__wab_flex-container) > *,
.cvModificationDuMdp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cvModificationDuMdp > :global(.__wab_flex-container) > picture > img,
.cvModificationDuMdp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.frame1437254287 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.card2 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(244, 255, 230, 1);
  transform: scale(0.9999999403953552, 0.9999999403953552);
  height: auto;
  display: flex;
  transform-origin: top left;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
  border-radius: 24px;
  padding: 64px;
}
.card2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.card2 > :global(.__wab_flex-container) > *,
.card2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card2 > :global(.__wab_flex-container) > picture > img,
.card2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
.frame9 {
  transform: scale(1.0000001192092896, 1.0000001192092896);
  height: 100%;
  display: flex;
  transform-origin: top left;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.frame9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.frame9 > :global(.__wab_flex-container) > *,
.frame9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame9 > :global(.__wab_flex-container) > picture > img,
.frame9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.frame10 {
  height: 176px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  flex-shrink: 0;
}
.frame10 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame10 > :global(.__wab_flex-container) > *,
.frame10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame10 > :global(.__wab_flex-container) > picture > img,
.frame10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.email {
  display: block;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(5, 5, 5, 1);
  align-self: stretch;
  position: relative;
}
.fileUploader {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
}
.fileUploader > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.fileUploader > :global(.__wab_flex-container) > *,
.fileUploader > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fileUploader > :global(.__wab_flex-container) > picture > img,
.fileUploader
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.fileUploader__qkD9J:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.frame11 {
  height: 176px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  flex-shrink: 0;
}
.frame11 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame11 > :global(.__wab_flex-container) > *,
.frame11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame11 > :global(.__wab_flex-container) > picture > img,
.frame11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.email2 {
  display: block;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(5, 5, 5, 1);
  align-self: stretch;
  position: relative;
}
.fileUploader2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.fileUploader2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.fileUploader2 > :global(.__wab_flex-container) > *,
.fileUploader2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.fileUploader2 > :global(.__wab_flex-container) > picture > img,
.fileUploader2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.fileUploader__eU9Mf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.jamButton__z3S7G:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #ffffff00;
  color: #535353;
  border-radius: 16px;
  border: 1px solid #000000;
}
.frame1437254288 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.freeBox {
  display: block;
  position: relative;
  width: 500px;
  height: 504px;
  flex-shrink: 0;
}
.card3 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(244, 255, 230, 1);
  transform: scale(0.9999999403953552, 0.9999999403953552);
  height: auto;
  display: flex;
  transform-origin: top left;
  position: absolute;
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  left: 0px;
  top: 0px;
  width: 100%;
  min-width: 0;
  border-radius: 24px;
  padding: 64px;
}
.card3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.card3 > :global(.__wab_flex-container) > *,
.card3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card3 > :global(.__wab_flex-container) > picture > img,
.card3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
.form3:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  object-fit: cover;
  min-width: 0;
  row-gap: 13px;
  padding: 8px;
}
.formField__vp2MG:global(.__wab_instance) {
  width: 31vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: auto;
  min-width: 0%;
  margin: 0px;
}
.text__sb97T {
  position: relative;
  width: 248px;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: rgba(5, 5, 5, 1);
  line-height: 1.2000000476837158;
  letter-spacing: 0em;
  text-align: center;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.inputWrapper8 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  min-width: 0;
}
.inputWrapper8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.inputWrapper8 > :global(.__wab_flex-container) > *,
.inputWrapper8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inputWrapper8 > :global(.__wab_flex-container) > picture > img,
.inputWrapper8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.wrapper {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  min-width: 0;
}
.wrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.wrapper > :global(.__wab_flex-container) > *,
.wrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.wrapper > :global(.__wab_flex-container) > picture > img,
.wrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.textInput9:global(.__wab_instance) {
  height: 100%;
  position: relative;
  align-self: stretch;
  width: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  border-width: 1px;
}
.wrapper2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  min-width: 0;
}
.wrapper2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.wrapper2 > :global(.__wab_flex-container) > *,
.wrapper2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.wrapper2 > :global(.__wab_flex-container) > picture > img,
.wrapper2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.progressBar {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  flex-grow: 1;
  min-width: 0;
}
.progressBar > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.progressBar > :global(.__wab_flex-container) > *,
.progressBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.progressBar > :global(.__wab_flex-container) > picture > img,
.progressBar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.signedByBaseProgressBarSteppedMediumLabelNone {
  width: 1px;
  height: 1px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.progress {
  background: rgba(39, 110, 241, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
}
.inProgress {
  background: rgba(205, 222, 255, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
}
.base {
  background: rgba(186, 254, 104, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
  border-radius: 4px;
}
.base2 {
  background: rgba(200, 200, 200, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
  border-radius: 4px;
}
.base3 {
  background: rgba(200, 200, 200, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
  border-radius: 4px;
}
.base4 {
  background: rgba(200, 200, 200, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
  border-radius: 4px;
}
.base5 {
  background: rgba(226, 226, 226, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
  border-radius: 4px;
}
.base6 {
  background: rgba(226, 226, 226, 1);
  height: 4px;
  display: block;
  position: relative;
  flex-grow: 1;
  border-radius: 4px;
}
.text {
  display: block;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(5, 5, 5, 1);
  align-self: stretch;
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.formField__xhAzC:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: auto;
  min-width: 100%;
  margin: 0px;
}
.text___14Zv {
  position: relative;
  width: 248px;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: rgba(5, 5, 5, 1);
  line-height: 1.2000000476837158;
  letter-spacing: 0em;
  text-align: center;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.inputWrapper9 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  width: 31vw;
  flex-grow: 1;
}
.inputWrapper9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.inputWrapper9 > :global(.__wab_flex-container) > *,
.inputWrapper9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inputWrapper9 > :global(.__wab_flex-container) > picture > img,
.inputWrapper9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.wrapper3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  min-width: 0;
}
.wrapper3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.wrapper3 > :global(.__wab_flex-container) > *,
.wrapper3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.wrapper3 > :global(.__wab_flex-container) > picture > img,
.wrapper3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.textInput10:global(.__wab_instance) {
  height: 100%;
  position: relative;
  align-self: stretch;
  width: 31vw;
  min-height: 0;
  border-radius: 16px;
  border-width: 1px;
}
.jamButton__afT22:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-F3L424YbQ3i4);
  background: #ffffff;
  width: 50%;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  border-radius: 16px;
  border-width: 1px;
}
