.root {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.sidebar:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  bottom: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebar:global(.__wab_instance) {
    display: none;
  }
}
.mobileNavbarTop:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileNavbarTop:global(.__wab_instance) {
    display: flex;
  }
}
.main {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 32px;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.text__dZ8Cx {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  text-align: left;
}
.dataGridOffre:global(.__wab_instance) {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.offre:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 17px;
  height: 17px;
  display: block;
  position: relative;
  overflow: hidden;
  align-self: flex-end;
  cursor: pointer;
  margin: 24px;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    display: block;
  }
}
.jobListing {
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transform: none;
  flex-wrap: nowrap;
  align-content: stretch;
  overflow: auto;
  max-width: 750px;
  row-gap: 15px;
  border-radius: 24px;
  padding: 20px 20px 64px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .jobListing {
    width: 100%;
    min-width: auto;
    padding: 10px 0px 37px;
  }
}
.jobDetail {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 8px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .jobDetail {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__oSsmz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.location {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .location {
    justify-content: center;
    align-items: center;
  }
}
.svg__yUmcp {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text___0WsNs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  min-width: 0;
}
.text___3BKl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: var(--token-vE7ENHhK130K);
}
.frame46 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  padding: 8px 0px;
  border-top: 1px solid var(--token-Ct2qLf9b3GVG);
  border-bottom: 1px solid var(--token-Ct2qLf9b3GVG);
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame46 {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    column-gap: 0px;
    padding: 8px 0px;
  }
}
.frame47 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  column-gap: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame47 {
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 8px;
    row-gap: 8px;
    min-width: 0;
  }
}
.frame48 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
}
.svg__pflfg {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__tvXAx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.frame49 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
}
.svg__qe3J8 {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__gHpCq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.frame50 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
}
.svg__a9B16 {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__akSj7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.frame51 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
}
.svg__oxjs9 {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 20.06779670715332px;
  height: 20.06779670715332px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text__otlji {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.jobDescriptionContainer {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 0px;
  row-gap: 16px;
  min-width: 0;
}
.text__tB8FW {
  display: block;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(5, 5, 5, 1);
  align-self: auto;
  position: relative;
  width: auto;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__pWQn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.benefits {
  display: flex;
  position: relative;
  align-self: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  width: auto;
  column-gap: 16px;
  row-gap: 8px;
}
.text__byVDa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-KO6AQ_V48wtR);
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 16px;
  padding: 2px 8px;
}
.expectedProfileContainer {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 16px;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  transition-property: all;
  transition-duration: 1s;
  row-gap: 16px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-width: 1px;
  border-color: var(--token-Ct2qLf9b3GVG);
}
.text__xiR {
  display: block;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.25;
  color: rgba(0, 0, 0, 1);
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___2Fb2U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.companyContainer {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 16px;
  row-gap: 13px;
  border-top: 1px solid var(--token-Ct2qLf9b3GVG);
}
@media (min-width: 0px) and (max-width: 768px) {
  .companyContainer {
    width: 100%;
    min-width: 0;
  }
}
.logoContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 0px;
}
.text__n48UG {
  display: block;
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.25;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__epD7F {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__epD7F {
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 2px;
    column-gap: 0px;
    padding: 0px;
  }
}
.text__jpE4L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  min-width: 0;
}
.text__h3F40 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  min-width: 0;
}
._delete:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__rnh3F {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  row-gap: var(--token-nKoNI3RzPDCD);
}
.svg__sW7Sg {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 36px;
  margin-right: 26px;
  margin-top: 12px;
  cursor: pointer;
  color: var(--token-IQAnn5MeydGo);
  flex-shrink: 0;
}
.text__lhHn {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.e2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  color: var(--token-X0hEa-utMcvr);
  font-size: 14px;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__eRqVk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  margin: 8px;
}
.svg__essg2 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__iNu6 {
  color: var(--token-ceD1eQOG2geq);
}
.svg__nsjDw {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  margin-right: 0px;
  height: 1em;
}
.deleteAccount:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  margin: 8px;
}
.svg__y2KVo {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__neUMx {
  color: var(--token-uqUcyTUgvV0c);
}
.svg__rDsZg {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.mobileNavbarBottom:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileNavbarBottom:global(.__wab_instance) {
    display: flex;
  }
}
