.rechercehCandidat {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-Ct2qLf9b3GVG);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rechercehCandidat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 0px;
  }
}
.mobileNavbarTop:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  right: 0;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileNavbarTop:global(.__wab_instance) {
    display: flex;
  }
}
.sidebar:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 20%;
}
.main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: none;
  flex-shrink: 1;
  row-gap: 24px;
  min-height: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: auto;
    min-height: 0;
    padding: 95px 20px 96px;
  }
}
.h1 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  color: var(--token-nuB3vbLUeNHj);
}
.filterForm:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  object-fit: cover;
  background: var(--token-ctGtle1XR2Yc);
  width: 100%;
  row-gap: 16px;
  min-width: 0;
  border-radius: 14.88px;
  padding: 28px;
  border: 1px none var(--token-qVvTulujfE86);
}
.formField__hyHJq:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  margin: 0px;
}
@media (max-width: 375px) {
  .formField__hyHJq:global(.__wab_instance) {
    margin-right: 0px;
  }
}
.text__ohLar {
  width: auto;
  font-size: 18px;
  color: var(--token-qVvTulujfE86);
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.freeBox___8TXn5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  height: 48px;
  min-width: 0;
  border-radius: 16px;
}
.keyWordsInput:global(.__wab_instance) {
  background: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
  flex-shrink: 0;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  height: 47px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 16px;
  border: 1px solid var(--token-d-0gEGbakN0M);
}
.svg__b7TP {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 16px;
  height: 17px;
  display: block;
}
.freeBox___7H4TO {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  column-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7H4TO {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.formField__vxVby:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  margin: 0px;
}
.text__mpclk {
  font-size: 18px;
  color: var(--token-qVvTulujfE86);
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.freeBox__hg7Zo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  height: 48px;
  min-width: 0;
}
.locationInput:global(.__wab_instance) {
  background: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
  flex-shrink: 0;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  height: 47px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 16px;
  border: 1px solid var(--token-d-0gEGbakN0M);
}
.img {
  object-fit: cover;
  width: 20px;
  height: 20px;
}
.img > picture > img {
  object-fit: cover;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.svg__tD1Wa {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__pPuFc {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__qfWv7 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.results {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 18px;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .results {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
  }
}
.resultsDetails {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 16px;
}
.resultsNumber {
  display: block;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 14.420352935791016px;
  color: rgba(0, 36, 0, 1);
  position: relative;
}
.keyWords {
  background: rgba(244, 255, 230, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  border-radius: 8px;
  padding: 4px 10px 4px 12px;
}
.keywords {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(28, 51, 0, 1);
  position: relative;
}
.svg__pMa3X {
  object-fit: cover;
  max-width: 100%;
  color: #1c3300;
  width: 12px;
  height: 12px;
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  flex-shrink: 0;
}
.cities {
  background: rgba(244, 255, 230, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  border-radius: 8px;
  padding: 4px 10px 4px 12px;
}
.city {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(28, 51, 0, 1);
  position: relative;
}
.svg__qyBby {
  object-fit: cover;
  max-width: 100%;
  color: #1c3300;
  width: 12px;
  height: 12px;
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  flex-shrink: 0;
}
.text___1NErq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.cards {
  height: auto;
  display: flex;
  position: relative;
  align-self: auto;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  width: auto;
  column-gap: 16px;
  row-gap: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cards {
    justify-content: flex-start;
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 16px;
    column-gap: 0px;
    min-width: 0;
  }
}
.card {
  background: rgba(255, 255, 255, 1);
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 330px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 16px;
}
.cardHeader {
  background: rgba(0, 36, 0, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 170px;
  flex-shrink: 0;
  column-gap: 16px;
  padding: 20px 24px;
}
.file:global(.__wab_instance) {
  position: relative;
}
.userInfo {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 16px;
}
.firstnameLastname {
  display: block;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1;
  color: rgba(186, 254, 104, 1);
  position: relative;
}
.contatcInfo {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.loaction {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}
.svg__mx98I {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.paris {
  display: block;
  font-size: 12px;
  text-transform: capitalize;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 22.119049072265625px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.phoneNumber {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}
.svg__xT3D {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.p__mlVce {
  display: block;
  font-size: 12px;
  text-transform: capitalize;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 22.119049072265625px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.email {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}
.svg__yybWd {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.p__bAtD {
  display: block;
  font-size: 12px;
  text-transform: lowercase;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 22.119049072265625px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.mainInfos {
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 16px;
  min-height: 0;
  padding: 32px 16px 16px;
}
.documents {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 8px;
}
.cvButton:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  flex-grow: 1;
  width: 50%;
}
.svg___17K99 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__znnx {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__yhPtd {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  margin-right: 0px;
  height: 1em;
}
.ldmButton:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  flex-grow: 1;
  width: 50%;
}
.svg__sp8Mg {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__y2RrD {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__dQFz4 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  margin-right: 0px;
  height: 1em;
}
.presentation {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 8px;
}
.heading {
  display: block;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.399999976158142;
  color: rgba(0, 51, 31, 1);
  position: relative;
}
.p__vcPXn {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.2999999523162842;
  color: rgba(18, 17, 22, 1);
  align-self: stretch;
  position: relative;
}
.skills {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 8px;
}
.heading2 {
  display: block;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.399999976158142;
  color: rgba(0, 51, 31, 1);
  position: relative;
}
.frame1437254218 {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 8px;
  row-gap: 8px;
  min-width: 0;
}
.badgeBase5 {
  background: rgba(244, 255, 230, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 4px 12px;
}
.text6 {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(0, 36, 0, 1);
  position: relative;
}
.frame1437254392 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 8px;
}
.heading3 {
  display: block;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.399999976158142;
  color: rgba(0, 51, 31, 1);
  position: relative;
}
.frame1437254413 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame1437254408 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
}
.p__yViOg {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(18, 17, 22, 1);
  position: relative;
}
.tableCell {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 8px;
  padding-bottom: 8px;
  column-gap: 2.5287411212921143px;
}
.notationEtoiles__pZHy2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__avco {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  min-width: 0;
}
.frame1437254409 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
}
.p__yg4D {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(18, 17, 22, 1);
  position: relative;
}
.tableCell2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 8px;
  padding-bottom: 8px;
  column-gap: 2.5287411212921143px;
}
.notationEtoiles__vG3Se:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__dKzNp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  min-width: 0;
}
.frame1437254418 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.p__jrNHg {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(18, 17, 22, 1);
  position: relative;
}
.tableCell3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 8px;
  padding-bottom: 8px;
  column-gap: 2.5287411212921143px;
}
.notationEtoiles__rWz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__jafeC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  min-width: 0;
}
.searchNotPerformed {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(244, 255, 230, 1);
  transform: scale(0.9999999403953552, 0.9999999403953552);
  width: 100%;
  height: 541px;
  display: flex;
  transform-origin: top left;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 32px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
  padding: 64px;
}
@media (max-width: 375px) {
  .searchNotPerformed {
    row-gap: 32px;
    column-gap: 0px;
    padding: 0px 20px;
  }
}
.content {
  transform: scale(1.0000001192092896, 1.0000001192092896);
  height: auto;
  display: flex;
  transform-origin: top left;
  position: relative;
  align-self: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: auto;
  top: auto;
  row-gap: 16px;
}
.featuredIcon {
  background: rgba(232, 255, 204, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(248, 248, 248, 1);
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 20px;
}
.svg__wW1N {
  object-fit: cover;
  max-width: 100%;
  color: #343330;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}
.textAndSupportingText {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 4px;
}
.text4 {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(18, 17, 22, 1);
  align-self: stretch;
  position: relative;
}
.supportingText {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
  align-self: stretch;
  position: relative;
}
.noResultsFound {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(244, 255, 230, 1);
  transform: scale(0.9999999403953552, 0.9999999403953552);
  width: 100%;
  height: 541px;
  display: flex;
  transform-origin: top left;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 32px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
  padding: 64px;
}
.content2 {
  transform: scale(1.0000001192092896, 1.0000001192092896);
  height: auto;
  display: flex;
  transform-origin: top left;
  position: relative;
  align-self: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: auto;
  top: auto;
  row-gap: 16px;
}
.featuredIcon3 {
  background: rgba(252, 241, 241, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(252, 241, 241, 1);
  width: 40px;
  height: 40px;
  display: block;
  flex-shrink: 0;
  border-radius: 20px;
}
.svg__qyy4 {
  object-fit: cover;
  max-width: 100%;
  color: #ab3832;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}
.textAndSupportingText2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 4px;
}
.text5 {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(18, 17, 22, 1);
  align-self: stretch;
  position: relative;
}
.supportingText2 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
  align-self: stretch;
  position: relative;
  margin-top: 0px;
}
.cvModal:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.h3__tsj8Q {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-JJChWPPhfZHS);
  min-width: 0;
  padding: var(--token-BL89_XMR-RdQ);
}
.freeBox__ela4Z {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 20px;
}
.iframe__iQ90Y:global(.__wab_instance) {
  width: 500px;
  height: 900px;
  max-width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.freeBox__lj3R4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.coverLetterModal:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.h3__v5T1O {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-JJChWPPhfZHS);
  min-width: 0;
  padding: var(--token-BL89_XMR-RdQ);
}
.freeBox__k4Hqt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.iframe__pziAy:global(.__wab_instance) {
  width: 500px;
  height: 900px;
  max-width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.freeBox___7ZgXe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.mobileNavbarBottomCompany:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileNavbarBottomCompany:global(.__wab_instance) {
    display: flex;
  }
}
