.root {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 0px;
  }
}
.rootuser_candidat {
  justify-content: center;
  align-items: center;
}
.candidatNavbar {
  background: rgba(19, 16, 19, 1);
  filter: none;
  width: auto;
  height: auto;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .candidatNavbar {
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-content: stretch;
    column-gap: 0px;
    row-gap: 0px;
    min-width: 0;
    display: flex;
    padding: 0px 10px 15px;
  }
}
.candidatNavbaruser_employer {
  display: none;
}
.candidatNavbaruser_admin {
  display: none;
}
.candidatNavbaruser_candidat {
  width: 100%;
  min-width: 0;
  display: flex;
}
.button2__nsRvc:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__wXNi {
  position: relative;
  width: 17px;
  height: 17px;
}
.text___7Gko {
  white-space: pre;
  padding-top: 0px;
  font-size: 12px;
}
.svg___402V9 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.button2__nY5Al:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__uvhC5 {
  position: relative;
  width: 17px;
  height: 17px;
}
.text__a6Bnn {
  white-space: pre;
  padding-top: 0px;
  font-size: 12px;
}
.svg__liGGp {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.button2__tln4Z:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__b2M12 {
  position: relative;
  width: 17px;
  height: 17px;
}
.text___93GTo {
  white-space: pre;
  padding-top: 0px;
  font-size: 12px;
}
.svg__dNe6E {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.button2__rBgXg:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__kWnKa {
  position: relative;
  width: 17px;
  height: 17px;
}
.text__bwVuo {
  white-space: pre;
  padding-top: 0px;
  font-size: 12px;
}
.svg__jq6B1 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.frame1437253914 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437253914 {
    display: none;
  }
}
.frame23 {
  background: rgba(186, 254, 104, 1);
  width: 50px;
  height: 3px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 2.884615421295166px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame23 {
    display: none;
  }
}
.svg__zcS5Q {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__zcS5Q {
    display: block;
  }
}
.text__lr7Vm {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(251, 251, 251, 1);
  position: relative;
}
.frame1437253915 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437253915 {
    display: none;
  }
}
.frame24 {
  background: rgba(186, 254, 104, 1);
  width: 50px;
  height: 3px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 2.884615421295166px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame24 {
    display: none;
  }
}
.svg__nNeIg {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__nNeIg {
    display: block;
  }
}
.text__snnRj {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(251, 251, 251, 1);
  position: relative;
}
.frame1437253916 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437253916 {
    display: none;
  }
}
.frame25 {
  background: rgba(186, 254, 104, 1);
  width: 50px;
  height: 3px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 2.884615421295166px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame25 {
    display: none;
  }
}
.svg___2DkPg {
  object-fit: cover;
  max-width: 100%;
  color: #fbfbfb;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___2DkPg {
    display: block;
  }
}
.text__oaBrw {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(251, 251, 251, 1);
  position: relative;
}
.employerNavbar {
  background: rgba(19, 16, 19, 1);
  filter: none;
  width: 100%;
  height: auto;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .employerNavbar {
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    align-content: stretch;
    column-gap: 0px;
    row-gap: 0px;
    min-width: 0;
    display: none;
    padding: 0px 10px 15px;
  }
}
.employerNavbaruser_employer {
  display: flex;
}
.employerNavbaruser_admin {
  display: none;
}
.button2__k05Ij:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg___5PffP {
  position: relative;
  width: 17px;
  height: 17px;
}
.text__qnwb8 {
  white-space: pre;
  padding-top: 0px;
  font-size: 12px;
}
.svg__jslSp {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.button2__rnNu:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg___7WIeW {
  position: relative;
  width: 17px;
  height: 17px;
}
.text__wysq9 {
  white-space: pre;
  padding-top: 0px;
  font-size: 12px;
}
.svg__yfVql {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.button2___7D3Mp:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2___7D3Mp:global(.__wab_instance):global(.__wab_instance) {
    display: none;
  }
}
.svg__uhKxp {
  position: relative;
  width: 17px;
  height: 17px;
}
.text__lnTsj {
  white-space: pre;
  padding-top: 0px;
  font-size: 12px;
}
.svg__iksjy {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.button2__rrkIu:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__kJ0LE {
  position: relative;
  width: 17px;
  height: 17px;
}
.text__wyrc4 {
  white-space: pre;
  padding-top: 0px;
  font-size: 12px;
}
.svg__k63Mo {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.frame1437253917 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437253917 {
    display: none;
  }
}
.frame26 {
  background: rgba(186, 254, 104, 1);
  width: 50px;
  height: 3px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 2.884615421295166px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame26 {
    display: none;
  }
}
.svg___2VrSo {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___2VrSo {
    display: block;
  }
}
.text__on0GN {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(251, 251, 251, 1);
  position: relative;
}
.frame1437253918 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437253918 {
    display: none;
  }
}
.frame27 {
  background: rgba(186, 254, 104, 1);
  width: 50px;
  height: 3px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 2.884615421295166px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame27 {
    display: none;
  }
}
.svg__d1GRw {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__d1GRw {
    display: block;
  }
}
.text__bayXl {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(251, 251, 251, 1);
  position: relative;
}
.frame1437253919 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437253919 {
    display: none;
  }
}
.frame28 {
  background: rgba(186, 254, 104, 1);
  width: 50px;
  height: 3px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 2.884615421295166px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame28 {
    display: none;
  }
}
.svg___0B2H3 {
  object-fit: cover;
  max-width: 100%;
  color: #fbfbfb;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___0B2H3 {
    display: block;
  }
}
.text__sXeOr {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(251, 251, 251, 1);
  position: relative;
}
.adminNavbar {
  background: rgba(19, 16, 19, 1);
  filter: none;
  width: 100%;
  height: auto;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .adminNavbar {
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    align-content: stretch;
    column-gap: 0px;
    row-gap: 0px;
    min-width: 0;
    display: none;
    padding: 0px 10px 15px;
  }
}
.adminNavbaruser_employer {
  display: none;
}
.adminNavbaruser_admin {
  display: flex;
}
.button2__wMQeA:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__t0STp {
  position: relative;
  width: 17px;
  height: 17px;
}
.text___3YaQd {
  white-space: pre;
  padding-top: 0px;
  font-size: 12px;
}
.svg__hykbw {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.button2__oft1A:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__qduuo {
  position: relative;
  width: 17px;
  height: 17px;
}
.text__hEr5E {
  white-space: pre;
  padding-top: 0px;
  font-size: 12px;
}
.svg___2TvYf {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.button2___7F5F7:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__e31Ef {
  position: relative;
  width: 17px;
  height: 17px;
}
.text___9IAUb {
  white-space: pre;
  padding-top: 0px;
  font-size: 12px;
}
.svg__j4Dbu {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.frame1437253920 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437253920 {
    display: none;
  }
}
.frame29 {
  background: rgba(186, 254, 104, 1);
  width: 50px;
  height: 3px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 2.884615421295166px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame29 {
    display: none;
  }
}
.svg___7QBz5 {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___7QBz5 {
    display: block;
  }
}
.text__uutGe {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(251, 251, 251, 1);
  position: relative;
}
.frame1437253921 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437253921 {
    display: none;
  }
}
.frame30 {
  background: rgba(186, 254, 104, 1);
  width: 50px;
  height: 3px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 2.884615421295166px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame30 {
    display: none;
  }
}
.svg___7Fata {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___7Fata {
    display: block;
  }
}
.text__dbEFe {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(251, 251, 251, 1);
  position: relative;
}
.frame1437253922 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame1437253922 {
    display: none;
  }
}
.frame31 {
  background: rgba(186, 254, 104, 1);
  width: 50px;
  height: 3px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 2.884615421295166px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame31 {
    display: none;
  }
}
.svg__yMt7Q {
  object-fit: cover;
  max-width: 100%;
  color: #fbfbfb;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__yMt7Q {
    display: block;
  }
}
.text__zk3VN {
  display: block;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(251, 251, 251, 1);
  position: relative;
}
