.root:global(.__wab_instance) {
  position: relative;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background: var(--token-ctGtle1XR2Yc);
  text-transform: uppercase;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #171717;
  display: block;
  border-radius: 16px;
  padding: 12px 24px;
}
.root[data-hovered]:global(.__wab_instance) {
  background: #deffaa;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-UY9kPePLUyPt);
  outline-offset: 1px;
  outline-color: var(--token--V1yrEhoM54H);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-5Q3utKadeUb3);
  color: #002400;
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-imsJTMxLHqiB);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-F3L424YbQ3i4);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-cq5K3d22gWtV);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-IQAnn5MeydGo);
}
.rootcolor_white:global(.__wab_instance) {
  background: var(--token-uqUcyTUgvV0c);
  user-select: text;
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: #ffffff;
  color: var(--token-nuB3vbLUeNHj);
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-SUsZgSMpfzVV);
  font-size: var(--token-kJyGp0Dc5L5n);
  column-gap: var(--token-UY9kPePLUyPt);
  row-gap: 0px;
  border-radius: var(--token-BY_Q0dspL3Z5);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-kJyGp0Dc5L5n);
  line-height: var(--token-SUsZgSMpfzVV);
  column-gap: var(--token-BY_Q0dspL3Z5);
  row-gap: 0px;
  border-radius: var(--token-BY_Q0dspL3Z5);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-JJChWPPhfZHS);
  line-height: var(--token-ZTnFSm4TIlCF);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-JJChWPPhfZHS);
  line-height: var(--token-ZTnFSm4TIlCF);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-ynHHyUnMXQNp);
  border-radius: var(--token-3vHL5jnFZTmZ);
}
.softBackgroundcolor_neutral {
  background: var(--token-tWQ63f0NkYS8);
}
.softBackgroundcolor_muted {
  background: var(--token-2WBfCSZKGd3h);
}
.softBackgroundcolor_success {
  background: var(--token-XJXhy7PR_z3G);
}
.softBackgroundcolor_warning {
  background: var(--token-TDDRkhzb6bbC);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-o4aW-UEuYVU4);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  background: var(--token-uqUcyTUgvV0c);
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-3vHL5jnFZTmZ);
  border: 0px solid var(--token-ueS_4VuJJaiW);
}
.bordercolor_neutral {
  border-color: var(--token-i_V0Y-DBiYvw);
}
.bordercolor_muted {
  border-color: var(--token-N4ItCHu287AS);
}
.bordercolor_success {
  border-color: var(--token-eppNlIZlPfr7);
}
.bordercolor_warning {
  border-color: var(--token-u2H6QsXT0tR3);
}
.bordercolor_errorDestructive {
  border-color: var(--token-6AA0KBhuHm-X);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-radius: 16px;
  border-width: 1px;
  border-color: var(--token-ceD1eQOG2geq);
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.freeBox__pOjBt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.freeBoxsize_extraSmall__pOjBtqAbeJ {
  padding: var(--token-BY_Q0dspL3Z5) var(--token-3vHL5jnFZTmZ);
}
.freeBoxsize_small__pOjBtsiIzQ {
  padding: var(--token-3vHL5jnFZTmZ) var(--token-59Hq8h0iWXrB);
}
.freeBoxsize_large__pOjBTlFWkE {
  padding-top: var(--token-BY_Q0dspL3Z5);
  padding-bottom: var(--token-BY_Q0dspL3Z5);
}
.freeBoxsize_extraLarge__pOjBttFcgy {
  padding-left: var(--token-nKoNI3RzPDCD);
  padding-right: var(--token-nKoNI3RzPDCD);
}
.freeBoxiconStart__pOjBtw9HS {
  column-gap: 8px;
  row-gap: 0px;
}
.freeBoxiconEnd__pOjBtXlNgP {
  column-gap: 8px;
  row-gap: 0px;
}
.freeBoxroundedFull__pOjBTsorLd {
  padding-right: var(--token-nKoNI3RzPDCD);
  padding-left: var(--token-nKoNI3RzPDCD);
}
.freeBox___4RLha {
  flex-direction: column;
  flex-shrink: 0;
  background: var(--token-uqUcyTUgvV0c);
  display: none;
  border-radius: 100px;
  padding: 4px;
}
.freeBoxiconStart___4RLhaW9HS {
  display: flex;
}
.slotTargetStartcolor_neutral {
  color: var(--token-MqZ3sYlfZ07n);
}
.slotTargetStartcolor_muted {
  color: var(--token-y6fK-UOz-dGH);
}
.slotTargetStartcolor_success {
  color: var(--token-MTwpjHCCR5XQ);
}
.slotTargetStartcolor_warning {
  color: var(--token-CqwqDg6mm2Rp);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-d7xQfDFpXeNO);
}
.slotTargetStarttype_soft {
  color: var(--token-DSLgD-95Qw2O);
}
.slotTargetStarttype_bordered {
  color: var(--token-DSLgD-95Qw2O);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-kJyGp0Dc5L5n);
}
.slotTargetStartsize_small {
  font-size: var(--token-kJyGp0Dc5L5n);
}
.slotTargetStartsize_large {
  font-size: var(--token-JJChWPPhfZHS);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-JJChWPPhfZHS);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-Qaluro99C1Z2);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-Qaluro99C1Z2);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-_Hh3Ry6vaJNA);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-_Hh3Ry6vaJNA);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-npCVKKop52sN);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-npCVKKop52sN);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-Mu3oSmFklXBV);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-Mu3oSmFklXBV);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-nHr7X1Z2gUuB);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-nHr7X1Z2gUuB);
}
.svg__winp {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabelcolor_neutral {
  color: var(--token-MqZ3sYlfZ07n);
}
.slotTargetLabelcolor_muted {
  color: var(--token-y6fK-UOz-dGH);
}
.slotTargetLabelcolor_success {
  color: var(--token-MTwpjHCCR5XQ);
}
.slotTargetLabelcolor_warning {
  color: var(--token-CqwqDg6mm2Rp);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-d7xQfDFpXeNO);
}
.slotTargetLabeltype_soft {
  color: var(--token-DSLgD-95Qw2O);
}
.slotTargetLabeltype_bordered {
  color: var(--token-DSLgD-95Qw2O);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-Qaluro99C1Z2);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-_Hh3Ry6vaJNA);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-Qaluro99C1Z2);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-npCVKKop52sN);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-_Hh3Ry6vaJNA);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-Mu3oSmFklXBV);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-npCVKKop52sN);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-nHr7X1Z2gUuB);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-Mu3oSmFklXBV);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-nHr7X1Z2gUuB);
}
.text___1O8Th {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.freeBox___7CEi {
  flex-direction: column;
  flex-shrink: 0;
  background: var(--token-uqUcyTUgvV0c);
  align-items: center;
  justify-content: center;
  display: none;
  border-radius: 100px;
  padding: 4px;
}
.freeBoxiconEnd___7CEiXlNgP {
  display: flex;
}
.slotTargetEndcolor_neutral {
  color: var(--token-MqZ3sYlfZ07n);
}
.slotTargetEndcolor_muted {
  color: var(--token-y6fK-UOz-dGH);
}
.slotTargetEndcolor_success {
  color: var(--token-MTwpjHCCR5XQ);
}
.slotTargetEndcolor_warning {
  color: var(--token-CqwqDg6mm2Rp);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-d7xQfDFpXeNO);
}
.slotTargetEndtype_soft {
  color: var(--token-DSLgD-95Qw2O);
}
.slotTargetEndtype_bordered {
  color: var(--token-DSLgD-95Qw2O);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-kJyGp0Dc5L5n);
}
.slotTargetEndsize_small {
  font-size: var(--token-kJyGp0Dc5L5n);
}
.slotTargetEndsize_large {
  font-size: var(--token-JJChWPPhfZHS);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-JJChWPPhfZHS);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-Qaluro99C1Z2);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-Qaluro99C1Z2);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-_Hh3Ry6vaJNA);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-_Hh3Ry6vaJNA);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-npCVKKop52sN);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-npCVKKop52sN);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-Mu3oSmFklXBV);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-Mu3oSmFklXBV);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-nHr7X1Z2gUuB);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-nHr7X1Z2gUuB);
}
.svg__zT5Ez {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
  flex-shrink: 0;
}
