.root {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #f4f4f4;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 0px;
  }
}
.mobileNavbarTop:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  position: fixed;
  right: 0;
  width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileNavbarTop:global(.__wab_instance) {
    display: flex;
  }
}
.sidebar:global(.__wab_instance) {
  max-width: 100%;
  width: 20%;
}
.main {
  height: 100%;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 1;
  width: 80%;
  row-gap: 32px;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: auto;
    padding-top: 80px;
    row-gap: 32px;
    column-gap: 0px;
    min-width: 0;
    margin: 0px;
  }
}
.freeBox__rl1Ro {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-XkcIRFBUIQDs);
  min-width: 0;
  padding: 8px 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rl1Ro {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    min-width: 0;
  }
}
.heading3 {
  display: block;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.399999976158142;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading3 {
    white-space: pre;
  }
}
.infos {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  flex-wrap: wrap;
  column-gap: var(--token-c8-rjzKYORFj);
  row-gap: var(--token-c8-rjzKYORFj);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .infos {
    width: 100%;
    min-width: 0;
    display: none;
  }
}
.sector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-uqUcyTUgvV0c);
  column-gap: 4px;
  border-radius: 16px;
  padding: 4px 12px;
}
.svg___7TdgI {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ceD1eQOG2geq);
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
.text__hqvCv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 10px;
  min-width: 0;
}
.contract {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-uqUcyTUgvV0c);
  column-gap: 4px;
  border-radius: 16px;
  padding: 4px 12px;
}
.svg__kyUjm {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ceD1eQOG2geq);
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
.text__wUq4R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 10px;
  min-width: 0;
}
.avaibility {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-uqUcyTUgvV0c);
  column-gap: 4px;
  border-radius: 16px;
  padding: 4px 12px;
}
.svg__pgDyr {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ceD1eQOG2geq);
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
.text__tKlE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 10px;
  min-width: 0;
}
.hours {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-uqUcyTUgvV0c);
  column-gap: 4px;
  border-radius: 16px;
  padding: 4px 12px;
}
.svg__wmyRf {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ceD1eQOG2geq);
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
.text__kDmnp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 10px;
  min-width: 0;
}
.salary {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-uqUcyTUgvV0c);
  column-gap: 4px;
  border-radius: 16px;
  padding: 4px 12px;
}
.svg__ykBk {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ceD1eQOG2geq);
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
.text__wjMf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 10px;
  min-width: 0;
}
.workMode {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-uqUcyTUgvV0c);
  column-gap: 4px;
  border-radius: 16px;
  padding: 4px 12px;
}
.svg__cqSqA {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ceD1eQOG2geq);
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
.text__axoez {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 10px;
  min-width: 0;
}
.button__eGc2W:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
.svg__kdunn {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__cgiuI {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__xrbIa {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  margin-right: 0px;
  height: 1em;
}
.freeBox__suBdg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 0px 64px 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__suBdg {
    top: auto;
    left: auto;
    padding-left: 32px;
    padding-right: 32px;
  }
}
.freeBox__nm58L {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nm58L {
    width: 100%;
    justify-content: space-between;
    min-width: 0;
  }
}
.heading2 {
  text-overflow: clip;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  display: block;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading2 {
    white-space: pre;
  }
}
.contract2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-fwxLR9vc1krL);
  border-radius: 16px;
  padding: 4px 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contract2 {
    width: auto;
  }
}
.text__cv39Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ceD1eQOG2geq);
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cv39Z {
    width: 100%;
    min-width: 0;
  }
}
.applications {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.dataGridV2:global(.__wab_instance) {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.loadingComponent:global(.__wab_instance) {
  max-width: 100%;
}
.notation:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.img__wd5He {
  object-fit: cover;
  max-width: 100%;
  width: 17px;
  height: 17px;
  display: block;
  position: relative;
  overflow: hidden;
  align-self: flex-end;
  cursor: pointer;
  margin: 20px 20px 0px 0px;
}
.img__wd5He > picture > img {
  object-fit: cover;
}
.freeBox___4KFsX {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 500px;
  row-gap: var(--token-nKoNI3RzPDCD);
  padding: 32px 64px 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4KFsX {
    width: auto;
  }
}
.h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  text-align: center;
}
.text__n0Q5Y {
  position: relative;
  text-align: center;
  padding-top: 0px;
  font-family: "DM Sans", sans-serif;
}
.text___9Jb6Q {
  position: relative;
  text-align: center;
  padding-top: 0px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: auto;
}
.freeBox___3M0Nd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 12px;
  border-radius: 16px;
  padding: 12px;
  border: 1px solid var(--token-ceD1eQOG2geq);
}
.img__ke9Hs {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 100px;
}
.img__ke9Hs > picture > img {
  object-fit: cover;
}
.text__mxc5Z {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--token-ceD1eQOG2geq);
}
.freeBox__meJhM {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 12px;
  min-width: 0;
  padding: 16px 8px 8px;
}
.text___2Zt4J {
  position: relative;
  text-align: center;
  padding-top: 0px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.notationEtoiles__mEv21:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__qP3Qe {
  position: relative;
  text-align: center;
  padding-top: 0px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.notationEtoiles__lGgib:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__zFecQ {
  position: relative;
  text-align: center;
  padding-top: 0px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.notationEtoiles__ik66B:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__kb2Tz:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.svg__qj7Cl {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__hmnKv {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.svg__oWH6 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.lettreDeMotivation:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__s9LSt {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-nKoNI3RzPDCD);
}
.iframe__qSahi:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  height: 900px;
  width: 500px;
  flex-shrink: 0;
}
.freeBox__vhcUd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__cjLQ:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.svg__dPuUq {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__p4Hpf {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__vpelL {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  margin-right: 0px;
  height: 1em;
}
.cv:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__oCDv5 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-nKoNI3RzPDCD);
}
.iframe__mv5Qg:global(.__wab_instance) {
  width: 500px;
  height: 900px;
  max-width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.freeBox__fdP5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button___64UG:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.svg__aqGLb {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__hEx5B {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
}
.svg__mvcrl {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  margin-right: 0px;
  height: 1em;
}
.successsApplications:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.img__zmnFw {
  object-fit: cover;
  max-width: 100%;
  width: 17px;
  height: 17px;
  display: block;
  position: relative;
  overflow: hidden;
  align-self: flex-end;
  cursor: pointer;
  margin: 20px 20px 0px 0px;
}
.img__zmnFw > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__zmnFw {
    display: block;
  }
}
.freeBox__oHhNq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 450px;
  row-gap: var(--token-nKoNI3RzPDCD);
}
.text__bly1P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  min-width: 0;
}
.text__wgDc9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  min-width: 0;
}
.freeBox__yEt5Q {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 12px;
  min-width: 0;
  border-radius: 16px;
  padding: 8px;
  border: 1px solid var(--token-ceD1eQOG2geq);
}
.img___8UbGx {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
  border-radius: 100px;
}
.img___8UbGx > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___8UbGx {
    left: auto;
    top: auto;
  }
}
.text__km9Zk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.text__mxjA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  min-width: 0;
}
.freeBox__w4Lt1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
}
.button__cXhF:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__t1P5P {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__uacTo {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
  padding-left: 0px;
}
.svg___1LsVi {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.confirmRejectModal:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.h3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-JJChWPPhfZHS);
  min-width: 0;
  display: none;
  padding: var(--token-BL89_XMR-RdQ);
}
.modal2 {
  background: rgba(255, 255, 255, 1);
  filter: none;
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 32px;
  border-radius: 12px;
  padding: 24px;
}
.content {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
}
.featuredIcon {
  background: rgba(254, 228, 226, 1);
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 1),
    inset 0px 0px 0px 4px rgba(255, 255, 255, 1);
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 28px;
}
.svg__dmKf {
  object-fit: cover;
  max-width: 100%;
  color: #d92d20;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.textAndSupportingText {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 8px;
}
.text {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(26, 26, 26, 1);
  align-self: stretch;
  position: relative;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.supportingText {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
  align-self: stretch;
  position: relative;
  font-style: normal;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.frame1437254298 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 16px;
}
.button3:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  flex-grow: 1;
}
.svg__ooQDk {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__mpJbu {
  white-space: pre;
  color: var(--token-nuB3vbLUeNHj);
  padding-right: 0px;
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___0KYiA {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.button4:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  flex-grow: 1;
}
.svg___9Gbxs {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.text__vetv7 {
  white-space: pre;
  color: var(--token-uqUcyTUgvV0c);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__hDxvk {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.mobileNavbarBottomCompany:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 100;
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileNavbarBottomCompany:global(.__wab_instance) {
    display: flex;
  }
}
