.mobileNavbar {
  background: rgba(19, 16, 19, 1);
  height: auto;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  position: relative;
  justify-self: flex-start;
  column-gap: 312px;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileNavbar {
    width: 100%;
    height: auto;
    justify-self: flex-start;
    column-gap: 0px;
    row-gap: 0px;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .mobileNavbar {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.logoTitre {
  width: 100%;
  height: 25px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logoTitre {
    height: auto;
    position: relative;
    width: auto;
  }
}
.logo {
  object-fit: cover;
  color: #bbfe68;
  position: relative;
  width: 40px;
  height: 40px;
  transform: rotate3d(0, 0, 1, 133deg);
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo {
    display: block;
  }
}
.text {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-zXiyHeK-ysvi);
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    display: block;
  }
}
.clocheRecherche {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 16px;
  flex-shrink: 0;
  column-gap: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .clocheRecherche {
    width: auto;
    height: auto;
  }
}
.cloche {
  object-fit: cover;
  max-width: 100%;
  color: #61616b;
  width: auto;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cloche {
    display: block;
  }
}
.boutonDeRecherche {
  background: rgba(187, 254, 104, 1);
  box-shadow:
    inset 0px 0px 0px 1px rgba(187, 254, 104, 1),
    0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806);
  width: auto;
  height: 32px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  border-radius: 16px;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .boutonDeRecherche {
    width: auto;
    height: 32px;
  }
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #343330;
  width: 28px;
  height: 28px;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  display: none;
  border-radius: 100px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg {
    display: block;
  }
}
.freeBox {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    display: flex;
  }
}
.weglotSelector:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
