.sidebarMenu {
  background: rgba(0, 0, 0, 1);
  width: auto;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  flex-shrink: 0;
  justify-self: flex-start;
  min-width: 300px;
  min-height: 0;
  padding: 60px 24px;
}
.sidebarMenu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 60px);
  height: calc(100% + 60px);
}
.sidebarMenu > :global(.__wab_flex-container) > *,
.sidebarMenu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sidebarMenu > :global(.__wab_flex-container) > picture > img,
.sidebarMenu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sidebarMenu {
    display: none;
  }
}
.logoWrapper {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  cursor: pointer;
  color: #0070f3;
  left: auto;
  top: auto;
}
.logoWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10.751590728759766px);
  height: calc(100% + 10.751590728759766px);
}
.logoWrapper > :global(.__wab_flex-container) > *,
.logoWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logoWrapper > :global(.__wab_flex-container) > picture > img,
.logoWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10.751590728759766px;
}
.svg__zMu1J {
  object-fit: cover;
  max-width: 100%;
  color: #bafe68;
  width: auto;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__udCos {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 600;
  left: auto;
  top: auto;
  min-width: 0;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  top: auto;
  left: auto;
  z-index: 1;
  align-self: stretch;
  min-height: 0;
  padding: 8px;
}
.links {
  height: auto;
  display: flex;
  flex-direction: column;
  width: auto;
  flex-shrink: 0;
  padding: 0px;
}
.links > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 35px);
  height: calc(100% + 35px);
}
.links > :global(.__wab_flex-container) > *,
.links > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.links > :global(.__wab_flex-container) > picture > img,
.links > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 35px;
}
.sideBarButton__qTcNb:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.svg__v6Mau {
  position: relative;
  width: 20px;
  height: 20px;
}
.text__o16Ff {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.svg__peyS {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.sideBarButton___0Uclj:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.svg__lpi8H {
  position: relative;
  width: 20px;
  height: 20px;
}
.text___9WifW {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.svg___034O4 {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.sideBarButton__ndpsZ:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.svg__hft1S {
  position: relative;
  width: 20px;
  height: 20px;
}
.text__aPZnf {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.svg__tYr4M {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.sideBarButton__po425:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: calc(-13px + 35px) !important;
  margin-left: 25px;
}
.text__sFEhL {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  text-transform: none;
}
.svg__vWacY {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.sideBarButton__gn78H:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: calc(-25px + 35px) !important;
  margin-left: 25px;
}
.text__zkEHz {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  text-transform: none;
}
.svg__eBxbR {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
.disconnectButton {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
  padding: 0px;
}
.disconnectButton > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.disconnectButton > :global(.__wab_flex-container) > *,
.disconnectButton > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.disconnectButton > :global(.__wab_flex-container) > picture > img,
.disconnectButton
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.freeBox__iiBjj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  min-width: 0;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid var(--token-X0hEa-utMcvr);
}
.text__oJi1F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-uqUcyTUgvV0c);
  font-family: "DM Sans", sans-serif;
  min-width: 0;
  padding: 0px 0px 16px;
}
.freeBox__tWrQc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ek9E1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-uqUcyTUgvV0c);
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
  min-width: 0;
}
.text__ngIM {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-uqUcyTUgvV0c);
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
}
.separateur__xUkgR:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-X0hEa-utMcvr);
  height: 1px;
  margin-top: 8px;
  margin-bottom: 12px;
  flex-shrink: 0;
  border: 1px solid var(--token-X0hEa-utMcvr);
}
.freeBox___8HqIp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ptU3M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-uqUcyTUgvV0c);
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
  min-width: 0;
}
.text__z3Gq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-uqUcyTUgvV0c);
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
}
.separateur__m5BEk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-X0hEa-utMcvr);
  height: auto;
  margin-top: 8px;
  margin-bottom: 12px;
  border: 1px solid var(--token-X0hEa-utMcvr);
}
.freeBox__qc7WD {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__qVzSn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-uqUcyTUgvV0c);
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
  min-width: 0;
}
.text__yal {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-uqUcyTUgvV0c);
  font-family: "DM Sans", sans-serif;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.separateur__zMctD:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-X0hEa-utMcvr);
  height: auto;
  margin-top: 8px;
  margin-bottom: 12px;
  border: 1px solid var(--token-X0hEa-utMcvr);
}
.svg___42UmA {
  object-fit: cover;
  max-width: 100%;
  color: #bafe68;
  width: 22px;
  height: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.link {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(241, 241, 241, 1);
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0.02em;
  cursor: pointer;
  display: none;
}
.sideBarButton__pTy6I:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.svg__rBazY {
  position: relative;
  width: 20px;
  height: 20px;
}
.text__owv49 {
  white-space: pre;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
.svg__o2STq {
  position: relative;
  color: var(--token-OIYWLyLPYWym);
  height: 1em;
}
