/* Login.module.css */

/* Styles généraux */
.loginCard {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 400px;
  text-align: center;
}

.title {
  margin-bottom: 16px;
  font-weight: bold;
}

/* Formulaire */
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.forgotPassword {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  align-self: flex-end;
}

.submitButton {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.leftLink {
  color: var(--primaryColor);
  cursor: pointer;
}

.rightLink {
  color: var(--primaryColor);
  cursor: pointer;
}
