@tailwind base;
@tailwind components;
@tailwind utilities;

/* Supprimer les paddings du modal de candidature */
.Modal__scrollableContent__02GeH {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Cibler plus spécifiquement si besoin */
.plasmic_default__all.plasmic_default__div.Modal__scrollableContent__02GeH {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.weglot_switcher {
  width: 70px !important;
  position: fixed !important;
  bottom: 30px !important;
  left: 20px !important;
}